.clear_both {
	clear: both;
}

.text_center {
	margin: 0 auto;
	text-align: center;
}

/* o_O */
/*
Header */
#current_date {
	position: relative;
	width: 100px;
	margin: 0 auto;
}

#current_date h1 {
	font-size: 10px;
	text-align: center;
	min-height: 32px
}

#step_back {
	position: absolute;
	top: -5px;
	left: 0;
}

#step_forward {
	position: absolute;
	top: -5px;
	right: 0;
}

#global_search {
	padding: 0 8px;
}

/*
Content */
#map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* google map info box desing */
.block {
	position: relative;
	z-index: 2;
	/*display: none;*/
	overflow: hidden;
	width: 212px;
	height: 69px;
	margin-top: -20px;
	color: #D8D8D8;
	text-shadow: none;
	background: url(../img/event-bg.png) no-repeat; /* 212 69 */
	cursor: default;
}


.block .fl {
	float: left;
}

.block .fr {
	float: right;
}

.block .clear {
	clear: both;
}

.block .block_close {
	width: 15px;
	height: 15px;
	top: 3px;
	right: 1px;
	position: absolute;
	display: block;
	background: url(../img/close.png) no-repeat;
}

.block .title {
	font-size: 10px;
	padding: 5px 10px 0 8px;
	height: 55px;
	overflow: hidden;
	margin: 0;
}

.block p {
	padding: 0;
	margin: 0;
}

.block p.date {
	font-size: 10px;
	position: absolute;
	bottom: 11px;
	padding: 4px 15px 2px 4px;
	left: 4px;
	background: #585858;
	border-radius: 5px;
}

.block img {
	margin: 1px 5px 2px 2px;
}

#map .infoBox:hover {
	z-index: 3 !important;
}

#form_add_event {
}

#form_add_event .ui-field-contain label.ui-input-text {
	float: left;
	margin-right: 5px;
}

#form_add_event .ui-field-contain div.ui-input-text {
	width: 100px;
	margin-right: 5px;
	float: left;
}

#form_add_event .ui-field-contain .ui-select {
	width: 140px;
	float: left;
}

#message_error {
	padding: 10px 20px;
}

@media (min-width: 35em) {
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
		margin-right: 17em;
	}

	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin: 0 0 0 17em;
	}

	.ui-responsive-panel .ui-panel-dismiss-display-push {
		display: none;
	}
}

.ui-dialog-contain {
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}

.panel_close_button {
	position: absolute;
	top: 0;
}

.panel_close_button.rigth {
	right: 0;
}

.panel_close_button.left {
	left: 0;
}

#forgot_your_pass {
	display: none;
}

/* Event description */
#event_description {
	padding: 10px;
}

#event_description .float-right {
	float: right;
}

#event_description .event_content {
	overflow-y: auto;
	height: inherit
}

.mobile_logo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: url(../img/logo.png) no-repeat;
	width: 217px;
	height: 68px;
}

.google_plug {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 113px;
	height: 25px;
}

                                                                                                                                                                                                     
                                             
	@-moz-keyframes pulsate {
		from {
			-moz-transform: scale(0.25);
			opacity: 1.0;
		}
		95% {
			-moz-transform: scale(1.3);
			opacity: 0;
		}
		to {
			-moz-transform: scale(0.3);
			opacity: 0;
		}
	}
	@-webkit-keyframes pulsate {
		from {
			-webkit-transform: scale(0.25);
			opacity: 1.0;
		}
		95% {
			-webkit-transform: scale(1.3);
			opacity: 0;
		}
		to {
			-webkit-transform: scale(0.3);
			opacity: 0;
		}
	}
	/* get the container that's just outside the marker image, 
		which just happens to have our Marker title in it */
	#map div.gmnoprint[title="You are here"] {
		-moz-animation: pulsate 1.5s ease-in-out infinite;
		-webkit-animation: pulsate 1.5s ease-in-out infinite;
		border:1pt solid #fff;
		/* make a circle */
		-moz-border-radius:51px;
		-webkit-border-radius:51px;
		border-radius:51px;
		/* multiply the shadows, inside and outside the circle */
		-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		/* set the ring's new dimension and re-center it */
		height:51px!important;
		margin:-18px 0 0 -18px;
		width:51px!important;
	}
	/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map_canvas div[style*="987654"][title] img {*/
	#map div.gmnoprint[title="You are here"] img {
		display:none;
	}
	/* compensate for iPhone and Android devices with high DPI, add iPad media query */
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#map div.gmnoprint[title="You are here"] {
			margin:-10px 0 0 -10px;
		}
	}