/* Max width */
@media only screen and (min-width: 800px) {
	.ui-page {
		width: 800px !important;
		margin: 0 auto !important;
		position: relative !important;
	}

	.ui-footer {
		max-width: 800px;
		margin: 0 auto;
	}

	BODY {
		background-color: #ccc !important;
	}
}

#remove_img{ display: none; position: absolute; top: -15px; right: -15px; z-index: 10; }

#progress{ width: 80%; margin: 10px auto; }
#progress .bar{ background: #0000ff; width: 0; height: 10px; }

/*
Default width and height params upload block in global.php file
../../server/global.php

Constant:
define('SCALED_IMG_WIDTH', int width);
define('SCALED_IMG_HEIGHT', int height);
define('SCALED_IMG_CROP', bool crop);
*/
#box_upload_img { width: 100px; height: 100px; margin: 20px auto; border: 1px solid #396B9E; position: relative; }

#box_upload_img_overflow{ width: 100px; height: 100px; overflow: hidden; }
#box_upload_img_overflow .box_upload_img_view { width: 100px; height: 100px; position: relative; display: none; background: #ccc; }
#box_upload_img_overflow .box_upload_text_view{ position: relative; background: #ccc; font-size: 16px; font-weight: bold; text-align: center; vertical-align: middle; color: #000; text-decoration: none; cursor: pointer; }
#box_upload_img_overflow .box_upload_text_view p{ width: 100px; height: 100px; display: table-cell; vertical-align: middle; text-align: center; }
#box_upload_img_overflow .box_upload_img_hide{ position: absolute; top: 0; left: 0; z-index: 0; visibility: hidden; }

#message_inform{}
#message_inform .error{ color: #f00; }
#message_inform .warning{ color: #f87c00; }
#message_inform .ok{ color: #3c7500; }
