/* change - 60% */
.mini_icon,
.mini_icon_sub,
.mini_icon_sub2{
	background: no-repeat top left;
	display: block;
	height: 22px;
}
.mini_icon{ background-image: url(./category_icons.png); line-height: 22px; padding-left: 25px; }
.mini_icon.Art{ background-position: 0 0; }
.mini_icon.Cla{ background-position: 0 -23px; padding-left: 26px; height: 21px; }
.mini_icon.Eco{ background-position: 0 -45px; }
.mini_icon.His{ background-position: 0 -68px; }
.mini_icon.Loc{ background-position: 0 -91px; }
.mini_icon.Nat{ background-position: 0 -114px; }
.mini_icon.New{ background-position: 0 -137px; }
.mini_icon.Oth1{ background-position: 0 -160px; }
.mini_icon.Per{ background-position: 0 -183px; }
.mini_icon.Pla{ background-position: 0 -206px; }
.mini_icon.Prj1{ background-position: 0 -229px; }
.mini_icon.Pro{ background-position: 0 -252px; }
.mini_icon.Sci{ background-position: 0 -275px; }
.mini_icon.Soc{ background-position: 0 -298px; }
.mini_icon.Spo{ background-position: 0 -321px; }
.mini_icon.You1{ background-position: 0 -344px; }


.mini_icon_sub,
.mini_icon_sub2{ position: absolute; left: -30px; top: 50%; width: 19px; margin-top: -11px; }

.mini_icon_h3 .ui-btn-text{ padding-left: 30px; }
.mini_icon_h3 .mini_icon_sub{ left: 0; }
.mini_icon_label  .ui-btn-inner{ padding-left: 45px; }

.mini_icon_sub{ background-image: url(./subcategory_icons.png); }
.mini_icon_sub.Art1{ background-position: 0 0; }
.mini_icon_sub.Art10{ background-position: 0 -23px; }
.mini_icon_sub.Art11{ background-position: 0 -46px; }
.mini_icon_sub.Art12{ background-position: 0 -69px; }
.mini_icon_sub.Art13{ background-position: 0 -92px; }
.mini_icon_sub.Art14{ background-position: 0 -115px; }
.mini_icon_sub.Art15{ background-position: 0 -138px; }
.mini_icon_sub.Art16{ background-position: 0 -161px; }
.mini_icon_sub.Art17{ background-position: 0 -184px; }
.mini_icon_sub.Art2{ background-position: 0 -207px; }
.mini_icon_sub.Art3{ background-position: 0 -230px; }
.mini_icon_sub.Art4{ background-position: 0 -253px; }
.mini_icon_sub.Art5{ background-position: 0 -276px; }
.mini_icon_sub.Art6{ background-position: 0 -299px; }
.mini_icon_sub.Art7{ background-position: 0 -322px; }
.mini_icon_sub.Art8{ background-position: 0 -345px; }
.mini_icon_sub.Art9{ background-position: 0 -368px; }
.mini_icon_sub.Cla1{ background-position: 0 -391px; width: 21px; height: 21px; }
.mini_icon_sub.Cla10{ background-position: 0 -413px; width: 21px; height: 21px; }
.mini_icon_sub.Cla11{ background-position: 0 -435px; width: 21px; height: 21px; }
.mini_icon_sub.Cla12{ background-position: 0 -457px; width: 21px; height: 21px; }
.mini_icon_sub.Cla2{ background-position: 0 -479px; width: 21px; height: 21px; }
.mini_icon_sub.Cla3{ background-position: 0 -501px; width: 21px; height: 21px; }
.mini_icon_sub.Cla4{ background-position: 0 -523px; width: 21px; height: 21px; }
.mini_icon_sub.Cla5{ background-position: 0 -545px; width: 21px; height: 21px; }
.mini_icon_sub.Cla6{ background-position: 0 -567px; width: 21px; height: 21px; }
.mini_icon_sub.Cla7{ background-position: 0 -589px; width: 21px; height: 21px; }
.mini_icon_sub.Cla8{ background-position: 0 -611px; width: 21px; height: 21px; }
.mini_icon_sub.Cla9{ background-position: 0 -633px; width: 21px; height: 21px; }
.mini_icon_sub.Eco1{ background-position: 0 -655px; }
.mini_icon_sub.Eco2{ background-position: 0 -678px; }
.mini_icon_sub.Eco3{ background-position: 0 -701px; }
.mini_icon_sub.Eco4{ background-position: 0 -724px; }
.mini_icon_sub.Eco5{ background-position: 0 -747px; }
.mini_icon_sub.Eco6{ background-position: 0 -770px; }
.mini_icon_sub.Eco7{ background-position: 0 -793px; }
.mini_icon_sub.Nat1{ background-position: 0 -816px; }
.mini_icon_sub.Nat2{ background-position: 0 -839px; }
.mini_icon_sub.Nat3{ background-position: 0 -862px; }
.mini_icon_sub.Nat4{ background-position: 0 -885px; }
.mini_icon_sub.Nat5{ background-position: 0 -908px; }
.mini_icon_sub.Nat6{ background-position: 0 -931px; }
.mini_icon_sub.Nat7{ background-position: 0 -954px; }
.mini_icon_sub.Nat8{ background-position: 0 -977px; }
.mini_icon_sub.Nat9{ background-position: 0 -1000px; }
.mini_icon_sub.New1{ background-position: 0 -1023px; }
.mini_icon_sub.New10{ background-position: 0 -1046px; }
.mini_icon_sub.New2{ background-position: 0 -1069px; }
.mini_icon_sub.New3{ background-position: 0 -1092px; }
.mini_icon_sub.New4{ background-position: 0 -1115px; }
.mini_icon_sub.New5{ background-position: 0 -1138px; }
.mini_icon_sub.New6{ background-position: 0 -1161px; }
.mini_icon_sub.New7{ background-position: 0 -1184px; }
.mini_icon_sub.New8{ background-position: 0 -1207px; }
.mini_icon_sub.New9{ background-position: 0 -1230px; }
.mini_icon_sub.Oth1{ background-position: 0 -1253px; }
.mini_icon_sub.Oth2{ background-position: 0 -1276px; }
.mini_icon_sub.Oth3{ background-position: 0 -1299px; }
.mini_icon_sub.Oth4{ background-position: 0 -1322px; }
.mini_icon_sub.Per1{ background-position: 0 -1345px; width: 22px; height: 19px; margin-top: -9px; }
.mini_icon_sub.Per2{ background-position: 0 -1365px; }
.mini_icon_sub.Per3{ background-position: 0 -1388px; }
.mini_icon_sub.Per4{ background-position: 0 -1411px; }
.mini_icon_sub.Per5{ background-position: 0 -1434px; }
.mini_icon_sub.Pla1{ background-position: 0 -1457px; }
.mini_icon_sub.Pla10{ background-position: 0 -1480px; }
.mini_icon_sub.Pla11{ background-position: 0 -1503px; }
.mini_icon_sub.Pla12{ background-position: 0 -1526px; }
.mini_icon_sub.Pla13{ background-position: 0 -1549px; }
.mini_icon_sub.Pla14{ background-position: 0 -1572px; }
.mini_icon_sub.Pla15{ background-position: 0 -1595px; }
.mini_icon_sub.Pla16{ background-position: 0 -1618px; }
.mini_icon_sub.Pla17{ background-position: 0 -1641px; }
.mini_icon_sub.Pla18{ background-position: 0 -1664px; }
.mini_icon_sub.Pla19{ background-position: 0 -1687px; }
.mini_icon_sub.Pla2{ background-position: 0 -1710px; }
.mini_icon_sub.Pla20{ background-position: 0 -1733px; }
.mini_icon_sub.Pla21{ background-position: 0 -1756px; }
.mini_icon_sub.Pla21a{ background-position: 0 -1779px; }
.mini_icon_sub.Pla22a{ background-position: 0 -1802px; }
.mini_icon_sub.Pla3{ background-position: 0 -1825px; }
.mini_icon_sub.Pla4{ background-position: 0 -1848px; }
.mini_icon_sub.Pla5{ background-position: 0 -1871px; }
.mini_icon_sub.Pla6{ background-position: 0 -1894px; }
.mini_icon_sub.Pla7{ background-position: 0 -1917px; }
.mini_icon_sub.Pla8{ background-position: 0 -1940px; }
.mini_icon_sub.Pla9{ background-position: 0 -1963px; }
.mini_icon_sub.Prj1{ background-position: 0 -1986px; }
.mini_icon_sub.Prj2{ background-position: 0 -2009px; }
.mini_icon_sub.Prj3{ background-position: 0 -2032px; }
.mini_icon_sub.Prj4{ background-position: 0 -2055px; }
.mini_icon_sub.Pro1{ background-position: 0 -2078px; }
.mini_icon_sub.Pro2{ background-position: 0 -2101px; }
.mini_icon_sub.Pro3{ background-position: 0 -2124px; }
.mini_icon_sub.Pro4{ background-position: 0 -2147px; }
.mini_icon_sub.Pro5{ background-position: 0 -2170px; }
.mini_icon_sub.Pro6{ background-position: 0 -2193px; }
.mini_icon_sub.Pro7{ background-position: 0 -2216px; }
.mini_icon_sub.Pro8{ background-position: 0 -2239px; }
.mini_icon_sub.Pro9{ background-position: 0 -2262px; }
.mini_icon_sub.Sci1{ background-position: 0 -2285px; }
.mini_icon_sub.Sci10{ background-position: 0 -2308px; }
.mini_icon_sub.Sci11{ background-position: 0 -2331px; }
.mini_icon_sub.Sci12{ background-position: 0 -2354px; }
.mini_icon_sub.Sci13{ background-position: 0 -2377px; }
.mini_icon_sub.Sci14{ background-position: 0 -2400px; }
.mini_icon_sub.Sci2{ background-position: 0 -2423px; }
.mini_icon_sub.Sci3{ background-position: 0 -2446px; }
.mini_icon_sub.Sci4{ background-position: 0 -2469px; }
.mini_icon_sub.Sci5{ background-position: 0 -2492px; }
.mini_icon_sub.Sci6{ background-position: 0 -2515px; }
.mini_icon_sub.Sci7{ background-position: 0 -2538px; }
.mini_icon_sub.Sci8{ background-position: 0 -2561px; }
.mini_icon_sub.Sci9{ background-position: 0 -2584px; }
.mini_icon_sub.Soc1{ background-position: 0 -2607px; }
.mini_icon_sub.Soc10{ background-position: 0 -2630px; }
.mini_icon_sub.Soc11{ background-position: 0 -2653px; }
.mini_icon_sub.Soc2{ background-position: 0 -2676px; }
.mini_icon_sub.Soc3{ background-position: 0 -2699px; }
.mini_icon_sub.Soc4{ background-position: 0 -2722px; }
.mini_icon_sub.Soc5{ background-position: 0 -2745px; }
.mini_icon_sub.Soc6{ background-position: 0 -2768px; }
.mini_icon_sub.Soc7{ background-position: 0 -2791px; }
.mini_icon_sub.Soc8{ background-position: 0 -2814px; }
.mini_icon_sub.Soc9{ background-position: 0 -2837px; }
.mini_icon_sub.Spo1{ background-position: 0 -2860px; }
.mini_icon_sub.Spo10{ background-position: 0 -2883px; }
.mini_icon_sub.Spo11a{ background-position: 0 -2906px; }
.mini_icon_sub.Spo12{ background-position: 0 -2929px; }
.mini_icon_sub.Spo12a{ background-position: 0 -2952px; }
.mini_icon_sub.Spo13{ background-position: 0 -2975px; }
.mini_icon_sub.Spo14{ background-position: 0 -2998px; }
.mini_icon_sub.Spo15{ background-position: 0 -3021px; }
.mini_icon_sub.Spo16{ background-position: 0 -3044px; }
.mini_icon_sub.Spo17{ background-position: 0 -3067px; }
.mini_icon_sub.Spo18{ background-position: 0 -3090px; }
.mini_icon_sub.Spo18a{ background-position: 0 -3113px; }
.mini_icon_sub.Spo19{ background-position: 0 -3136px; }
.mini_icon_sub.Spo2{ background-position: 0 -3159px; }
.mini_icon_sub.Spo20{ background-position: 0 -3182px; }
.mini_icon_sub.Spo21{ background-position: 0 -3205px; }
.mini_icon_sub.Spo22{ background-position: 0 -3228px; }
.mini_icon_sub.Spo23{ background-position: 0 -3251px; }
.mini_icon_sub.Spo24{ background-position: 0 -3274px; }
.mini_icon_sub.Spo25{ background-position: 0 -3297px; }
.mini_icon_sub.Spo26a{ background-position: 0 -3320px; }
.mini_icon_sub.Spo27{ background-position: 0 -3343px; }
.mini_icon_sub.Spo28{ background-position: 0 -3366px; }
.mini_icon_sub.Spo28a{ background-position: 0 -3389px; }
.mini_icon_sub.Spo29{ background-position: 0 -3412px; }
.mini_icon_sub.Spo3{ background-position: 0 -3435px; }
.mini_icon_sub.Spo30{ background-position: 0 -3458px; }
.mini_icon_sub.Spo4{ background-position: 0 -3481px; }
.mini_icon_sub.Spo5{ background-position: 0 -3504px; }
.mini_icon_sub.Spo6{ background-position: 0 -3527px; }
.mini_icon_sub.Spo6a{ background-position: 0 -3550px; }
.mini_icon_sub.Spo7{ background-position: 0 -3573px; }
.mini_icon_sub.Spo8{ background-position: 0 -3596px; }
.mini_icon_sub.Spo8a{ background-position: 0 -3619px; }
.mini_icon_sub.Spo9{ background-position: 0 -3642px; }
.mini_icon_sub.You1{ background-position: 0 -3665px; }
.mini_icon_sub.You2{ background-position: 0 -3688px; }
.mini_icon_sub.You3{ background-position: 0 -3711px; }
.mini_icon_sub.You4{ background-position: 0 -3734px; }
.mini_icon_sub.You5{ background-position: 0 -3757px; }
.mini_icon_sub.You6{ background-position: 0 -3780px; }
.mini_icon_sub.You7{ background-position: 0 -3803px; }
.mini_icon_sub.You8{ background-position: 0 -3826px; }
.mini_icon_sub.You9{ background-position: 0 -3849px; }



/*
	**** SubCategory 2 ****
*/
/*.mini_icon_sub2{ width: 19px; height: 22px; position: absolute; left: -30px; top: 50%; margin-top: -9px; display: block; }*/
/* Place Subcategory 2 */
.mini_icon_sub2.Place{ background-image: url(./subcategory2_icons_place.png); }
.mini_icon_sub2.Place.Pla10a{ background-position: 0 0; }
.mini_icon_sub2.Place.Pla10b{ background-position: 0 -23px; }
.mini_icon_sub2.Place.Pla10c{ background-position: 0 -46px; }
.mini_icon_sub2.Place.Pla10d{ background-position: 0 -69px; }
.mini_icon_sub2.Place.Pla10e{ background-position: 0 -92px; }
.mini_icon_sub2.Place.Pla10f{ background-position: 0 -115px; }
.mini_icon_sub2.Place.Pla10g{ background-position: 0 -138px; }
.mini_icon_sub2.Place.Pla10h{ background-position: 0 -161px; }
.mini_icon_sub2.Place.Pla10i{ background-position: 0 -184px; }
.mini_icon_sub2.Place.Pla11a{ background-position: 0 -207px; }
.mini_icon_sub2.Place.Pla11b{ background-position: 0 -230px; }
.mini_icon_sub2.Place.Pla11c{ background-position: 0 -253px; }
.mini_icon_sub2.Place.Pla11d{ background-position: 0 -276px; }
.mini_icon_sub2.Place.Pla11e{ background-position: 0 -299px; }
.mini_icon_sub2.Place.Pla11f{ background-position: 0 -322px; }
.mini_icon_sub2.Place.Pla11g{ background-position: 0 -345px; }
.mini_icon_sub2.Place.Pla11h{ background-position: 0 -368px; }
.mini_icon_sub2.Place.Pla11i{ background-position: 0 -391px; }
.mini_icon_sub2.Place.Pla11j{ background-position: 0 -414px; }
.mini_icon_sub2.Place.Pla11k{ background-position: 0 -437px; }
.mini_icon_sub2.Place.Pla12a{ background-position: 0 -460px; }
.mini_icon_sub2.Place.Pla12b{ background-position: 0 -483px; }
.mini_icon_sub2.Place.Pla12c{ background-position: 0 -506px; }
.mini_icon_sub2.Place.Pla12d{ background-position: 0 -529px; }
.mini_icon_sub2.Place.Pla12e{ background-position: 0 -552px; }
.mini_icon_sub2.Place.Pla12f{ background-position: 0 -575px; }
.mini_icon_sub2.Place.Pla12g{ background-position: 0 -598px; }
.mini_icon_sub2.Place.Pla12h{ background-position: 0 -621px; }
.mini_icon_sub2.Place.Pla13a{ background-position: 0 -644px; }
.mini_icon_sub2.Place.Pla13b{ background-position: 0 -667px; }
.mini_icon_sub2.Place.Pla13c{ background-position: 0 -690px; }
.mini_icon_sub2.Place.Pla13d{ background-position: 0 -713px; }
.mini_icon_sub2.Place.Pla13e{ background-position: 0 -736px; }
.mini_icon_sub2.Place.Pla13f{ background-position: 0 -759px; }
.mini_icon_sub2.Place.Pla13g{ background-position: 0 -782px; }
.mini_icon_sub2.Place.Pla14a{ background-position: 0 -805px; }
.mini_icon_sub2.Place.Pla14b{ background-position: 0 -828px; }
.mini_icon_sub2.Place.Pla14c{ background-position: 0 -851px; }
.mini_icon_sub2.Place.Pla14d{ background-position: 0 -874px; }
.mini_icon_sub2.Place.Pla14e{ background-position: 0 -897px; }
.mini_icon_sub2.Place.Pla15a{ background-position: 0 -920px; }
.mini_icon_sub2.Place.Pla15b{ background-position: 0 -943px; }
.mini_icon_sub2.Place.Pla15c{ background-position: 0 -966px; }
.mini_icon_sub2.Place.Pla15d{ background-position: 0 -989px; }
.mini_icon_sub2.Place.Pla15e{ background-position: 0 -1012px; }
.mini_icon_sub2.Place.Pla15f{ background-position: 0 -1035px; }
.mini_icon_sub2.Place.Pla15g{ background-position: 0 -1058px; }
.mini_icon_sub2.Place.Pla16a{ background-position: 0 -1081px; }
.mini_icon_sub2.Place.Pla16b{ background-position: 0 -1104px; }
.mini_icon_sub2.Place.Pla16c{ background-position: 0 -1127px; }
.mini_icon_sub2.Place.Pla16d{ background-position: 0 -1150px; }
.mini_icon_sub2.Place.Pla16e{ background-position: 0 -1173px; }
.mini_icon_sub2.Place.Pla16f{ background-position: 0 -1196px; }
.mini_icon_sub2.Place.Pla16g{ background-position: 0 -1219px; }
.mini_icon_sub2.Place.Pla16h{ background-position: 0 -1242px; }
.mini_icon_sub2.Place.Pla16i{ background-position: 0 -1265px; }
.mini_icon_sub2.Place.Pla16j{ background-position: 0 -1288px; }
.mini_icon_sub2.Place.Pla16k{ background-position: 0 -1311px; }
.mini_icon_sub2.Place.Pla16l{ background-position: 0 -1334px; }
.mini_icon_sub2.Place.Pla16m{ background-position: 0 -1357px; }
.mini_icon_sub2.Place.Pla16n{ background-position: 0 -1380px; }
.mini_icon_sub2.Place.Pla16o{ background-position: 0 -1403px; }
.mini_icon_sub2.Place.Pla16p{ background-position: 0 -1426px; }
.mini_icon_sub2.Place.Pla16q{ background-position: 0 -1449px; }
.mini_icon_sub2.Place.Pla16r{ background-position: 0 -1472px; }
.mini_icon_sub2.Place.Pla17a{ background-position: 0 -1495px; }
.mini_icon_sub2.Place.Pla17b{ background-position: 0 -1518px; }
.mini_icon_sub2.Place.Pla17c{ background-position: 0 -1541px; }
.mini_icon_sub2.Place.Pla17d{ background-position: 0 -1564px; }
.mini_icon_sub2.Place.Pla17e{ background-position: 0 -1587px; }
.mini_icon_sub2.Place.Pla17f{ background-position: 0 -1610px; }
.mini_icon_sub2.Place.Pla17g{ background-position: 0 -1633px; }
.mini_icon_sub2.Place.Pla17h{ background-position: 0 -1656px; }
.mini_icon_sub2.Place.Pla17i{ background-position: 0 -1679px; }
.mini_icon_sub2.Place.Pla17j{ background-position: 0 -1702px; }
.mini_icon_sub2.Place.Pla17k{ background-position: 0 -1725px; }
.mini_icon_sub2.Place.Pla18a{ background-position: 0 -1748px; }
.mini_icon_sub2.Place.Pla18b{ background-position: 0 -1771px; }
.mini_icon_sub2.Place.Pla18c{ background-position: 0 -1794px; }
.mini_icon_sub2.Place.Pla18d{ background-position: 0 -1817px; }
.mini_icon_sub2.Place.Pla18e{ background-position: 0 -1840px; }
.mini_icon_sub2.Place.Pla18f{ background-position: 0 -1863px; }
.mini_icon_sub2.Place.Pla18g{ background-position: 0 -1886px; }
.mini_icon_sub2.Place.Pla18h{ background-position: 0 -1909px; }
.mini_icon_sub2.Place.Pla19a{ background-position: 0 -1932px; }
.mini_icon_sub2.Place.Pla19b{ background-position: 0 -1955px; }
.mini_icon_sub2.Place.Pla19c{ background-position: 0 -1978px; }
.mini_icon_sub2.Place.Pla19d{ background-position: 0 -2001px; }
.mini_icon_sub2.Place.Pla19e{ background-position: 0 -2024px; }
.mini_icon_sub2.Place.Pla19f{ background-position: 0 -2047px; }
.mini_icon_sub2.Place.Pla20a{ background-position: 0 -2070px; }
.mini_icon_sub2.Place.Pla20b{ background-position: 0 -2093px; }
.mini_icon_sub2.Place.Pla20c{ background-position: 0 -2116px; }
.mini_icon_sub2.Place.Pla20d{ background-position: 0 -2139px; }
.mini_icon_sub2.Place.Pla20e{ background-position: 0 -2162px; }
.mini_icon_sub2.Place.Pla20f{ background-position: 0 -2185px; }
.mini_icon_sub2.Place.Pla21a{ background-position: 0 -2208px; }
.mini_icon_sub2.Place.Pla21b{ background-position: 0 -2231px; }
.mini_icon_sub2.Place.Pla21c{ background-position: 0 -2254px; }
.mini_icon_sub2.Place.Pla21d{ background-position: 0 -2277px; }
.mini_icon_sub2.Place.Pla21e{ background-position: 0 -2300px; }
.mini_icon_sub2.Place.Pla21f{ background-position: 0 -2323px; }
.mini_icon_sub2.Place.Pla21g{ background-position: 0 -2346px; }
.mini_icon_sub2.Place.Pla21h{ background-position: 0 -2369px; }
.mini_icon_sub2.Place.Pla21i{ background-position: 0 -2392px; }
.mini_icon_sub2.Place.Pla21j{ background-position: 0 -2415px; }
.mini_icon_sub2.Place.Pla21k{ background-position: 0 -2438px; }
.mini_icon_sub2.Place.Pla21l{ background-position: 0 -2461px; }
.mini_icon_sub2.Place.Pla21m{ background-position: 0 -2484px; }
.mini_icon_sub2.Place.Pla21n{ background-position: 0 -2507px; }
.mini_icon_sub2.Place.Pla21o{ background-position: 0 -2530px; }
.mini_icon_sub2.Place.Pla21p{ background-position: 0 -2553px; }
.mini_icon_sub2.Place.Pla22a{ background-position: 0 -2576px; }
.mini_icon_sub2.Place.Pla22b{ background-position: 0 -2599px; }
.mini_icon_sub2.Place.Pla22c{ background-position: 0 -2622px; }
.mini_icon_sub2.Place.Pla22d{ background-position: 0 -2645px; }
.mini_icon_sub2.Place.Pla22e{ background-position: 0 -2668px; }
.mini_icon_sub2.Place.Pla22f{ background-position: 0 -2691px; }
.mini_icon_sub2.Place.Pla22g{ background-position: 0 -2714px; }
.mini_icon_sub2.Place.Pla22h{ background-position: 0 -2737px; }
.mini_icon_sub2.Place.Pla22i{ background-position: 0 -2760px; }
.mini_icon_sub2.Place.Pla22j{ background-position: 0 -2783px; }
.mini_icon_sub2.Place.Pla22k{ background-position: 0 -2806px; }
.mini_icon_sub2.Place.Pla22l{ background-position: 0 -2829px; }
.mini_icon_sub2.Place.Pla22m{ background-position: 0 -2852px; }
.mini_icon_sub2.Place.Pla22n{ background-position: 0 -2875px; }
.mini_icon_sub2.Place.Pla22o{ background-position: 0 -2898px; }
.mini_icon_sub2.Place.Pla22p{ background-position: 0 -2921px; }
.mini_icon_sub2.Place.Pla22q{ background-position: 0 -2944px; }
.mini_icon_sub2.Place.Pla22r{ background-position: 0 -2967px; }
.mini_icon_sub2.Place.Pla22s{ background-position: 0 -2990px; }
.mini_icon_sub2.Place.Pla22t{ background-position: 0 -3013px; }
.mini_icon_sub2.Place.Pla22u{ background-position: 0 -3036px; }
.mini_icon_sub2.Place.Pla22v{ background-position: 0 -3059px; }
.mini_icon_sub2.Place.Pla22w{ background-position: 0 -3082px; }
.mini_icon_sub2.Place.Pla22x{ background-position: 0 -3105px; }
.mini_icon_sub2.Place.Pla2a{ background-position: 0 -3128px; width: 17px; height: 21px; margin-top: -8px; }
.mini_icon_sub2.Place.Pla2aa{ background-position: 0 -3150px; }
.mini_icon_sub2.Place.Pla2ab{ background-position: 0 -3173px; }
.mini_icon_sub2.Place.Pla2b{ background-position: 0 -3196px; }
.mini_icon_sub2.Place.Pla2c{ background-position: 0 -3219px; }
.mini_icon_sub2.Place.Pla2d{ background-position: 0 -3242px; }
.mini_icon_sub2.Place.Pla2e{ background-position: 0 -3265px; }
.mini_icon_sub2.Place.Pla2f{ background-position: 0 -3288px; }
.mini_icon_sub2.Place.Pla2g{ background-position: 0 -3311px; }
.mini_icon_sub2.Place.Pla2h{ background-position: 0 -3334px; }
.mini_icon_sub2.Place.Pla2i{ background-position: 0 -3357px; }
.mini_icon_sub2.Place.Pla2j{ background-position: 0 -3380px; }
.mini_icon_sub2.Place.Pla2k{ background-position: 0 -3403px; }
.mini_icon_sub2.Place.Pla2l{ background-position: 0 -3426px; }
.mini_icon_sub2.Place.Pla2m{ background-position: 0 -3449px; }
.mini_icon_sub2.Place.Pla2n{ background-position: 0 -3472px; }
.mini_icon_sub2.Place.Pla2o{ background-position: 0 -3495px; }
.mini_icon_sub2.Place.Pla2p{ background-position: 0 -3518px; }
.mini_icon_sub2.Place.Pla2q{ background-position: 0 -3541px; }
.mini_icon_sub2.Place.Pla2r{ background-position: 0 -3564px; }
.mini_icon_sub2.Place.Pla2s{ background-position: 0 -3587px; }
.mini_icon_sub2.Place.Pla2t{ background-position: 0 -3610px; }
.mini_icon_sub2.Place.Pla2u{ background-position: 0 -3633px; }
.mini_icon_sub2.Place.Pla2v{ background-position: 0 -3656px; }
.mini_icon_sub2.Place.Pla2w{ background-position: 0 -3679px; }
.mini_icon_sub2.Place.Pla2x{ background-position: 0 -3702px; }
.mini_icon_sub2.Place.Pla2y{ background-position: 0 -3725px; }
.mini_icon_sub2.Place.Pla2z{ background-position: 0 -3748px; }
.mini_icon_sub2.Place.Pla3a{ background-position: 0 -3771px; }
.mini_icon_sub2.Place.Pla3b{ background-position: 0 -3794px; }
.mini_icon_sub2.Place.Pla3c{ background-position: 0 -3817px; }
.mini_icon_sub2.Place.Pla3d{ background-position: 0 -3840px; }
.mini_icon_sub2.Place.Pla3e{ background-position: 0 -3863px; }
.mini_icon_sub2.Place.Pla3f{ background-position: 0 -3886px; }
.mini_icon_sub2.Place.Pla3h{ background-position: 0 -3909px; }
.mini_icon_sub2.Place.Pla3i{ background-position: 0 -3932px; }
.mini_icon_sub2.Place.Pla3j{ background-position: 0 -3955px; }
.mini_icon_sub2.Place.Pla3k{ background-position: 0 -3978px; }
.mini_icon_sub2.Place.Pla3l{ background-position: 0 -4001px; }
.mini_icon_sub2.Place.Pla3m{ background-position: 0 -4024px; }
.mini_icon_sub2.Place.Pla4a{ background-position: 0 -4047px; }
.mini_icon_sub2.Place.Pla4aa{ background-position: 0 -4070px; }
.mini_icon_sub2.Place.Pla4ab{ background-position: 0 -4093px; }
.mini_icon_sub2.Place.Pla4ac{ background-position: 0 -4116px; }
.mini_icon_sub2.Place.Pla4ad{ background-position: 0 -4139px; }
.mini_icon_sub2.Place.Pla4ae{ background-position: 0 -4162px; }
.mini_icon_sub2.Place.Pla4af{ background-position: 0 -4185px; }
.mini_icon_sub2.Place.Pla4ag{ background-position: 0 -4208px; }
.mini_icon_sub2.Place.Pla4ah{ background-position: 0 -4231px; }
.mini_icon_sub2.Place.Pla4ai{ background-position: 0 -4254px; }
.mini_icon_sub2.Place.Pla4aj{ background-position: 0 -4277px; }
.mini_icon_sub2.Place.Pla4ak{ background-position: 0 -4300px; }
.mini_icon_sub2.Place.Pla4al{ background-position: 0 -4323px; }
.mini_icon_sub2.Place.Pla4am{ background-position: 0 -4346px; }
.mini_icon_sub2.Place.Pla4an{ background-position: 0 -4369px; }
.mini_icon_sub2.Place.Pla4ao{ background-position: 0 -4392px; }
.mini_icon_sub2.Place.Pla4ap{ background-position: 0 -4415px; }
.mini_icon_sub2.Place.Pla4aq{ background-position: 0 -4438px; }
.mini_icon_sub2.Place.Pla4ar{ background-position: 0 -4461px; }
.mini_icon_sub2.Place.Pla4as{ background-position: 0 -4484px; }
.mini_icon_sub2.Place.Pla4b{ background-position: 0 -4507px; }
.mini_icon_sub2.Place.Pla4c{ background-position: 0 -4530px; }
.mini_icon_sub2.Place.Pla4d{ background-position: 0 -4553px; }
.mini_icon_sub2.Place.Pla4e{ background-position: 0 -4576px; }
.mini_icon_sub2.Place.Pla4f{ background-position: 0 -4599px; }
.mini_icon_sub2.Place.Pla4g{ background-position: 0 -4622px; }
.mini_icon_sub2.Place.Pla4h{ background-position: 0 -4645px; }
.mini_icon_sub2.Place.Pla4i{ background-position: 0 -4668px; }
.mini_icon_sub2.Place.Pla4j{ background-position: 0 -4691px; }
.mini_icon_sub2.Place.Pla4k{ background-position: 0 -4714px; }
.mini_icon_sub2.Place.Pla4l{ background-position: 0 -4737px; }
.mini_icon_sub2.Place.Pla4m{ background-position: 0 -4760px; }
.mini_icon_sub2.Place.Pla4n{ background-position: 0 -4783px; }
.mini_icon_sub2.Place.Pla4o{ background-position: 0 -4806px; }
.mini_icon_sub2.Place.Pla4p{ background-position: 0 -4829px; }
.mini_icon_sub2.Place.Pla4q{ background-position: 0 -4852px; }
.mini_icon_sub2.Place.Pla4r{ background-position: 0 -4875px; }
.mini_icon_sub2.Place.Pla4s{ background-position: 0 -4898px; }
.mini_icon_sub2.Place.Pla4t{ background-position: 0 -4921px; }
.mini_icon_sub2.Place.Pla4u{ background-position: 0 -4944px; }
.mini_icon_sub2.Place.Pla4v{ background-position: 0 -4967px; }
.mini_icon_sub2.Place.Pla4w{ background-position: 0 -4990px; }
.mini_icon_sub2.Place.Pla4x{ background-position: 0 -5013px; }
.mini_icon_sub2.Place.Pla4y{ background-position: 0 -5036px; }
.mini_icon_sub2.Place.Pla4z{ background-position: 0 -5059px; }
.mini_icon_sub2.Place.Pla5a{ background-position: 0 -5082px; }
.mini_icon_sub2.Place.Pla5b{ background-position: 0 -5105px; }
.mini_icon_sub2.Place.Pla5c{ background-position: 0 -5128px; }
.mini_icon_sub2.Place.Pla5d{ background-position: 0 -5151px; }
.mini_icon_sub2.Place.Pla5e{ background-position: 0 -5174px; }
.mini_icon_sub2.Place.Pla5f{ background-position: 0 -5197px; }
.mini_icon_sub2.Place.Pla5g{ background-position: 0 -5220px; }
.mini_icon_sub2.Place.Pla5h{ background-position: 0 -5243px; }
.mini_icon_sub2.Place.Pla5i{ background-position: 0 -5266px; }
.mini_icon_sub2.Place.Pla5j{ background-position: 0 -5289px; }
.mini_icon_sub2.Place.Pla5k{ background-position: 0 -5312px; }
.mini_icon_sub2.Place.Pla5l{ background-position: 0 -5335px; }
.mini_icon_sub2.Place.Pla5m{ background-position: 0 -5358px; }
.mini_icon_sub2.Place.Pla5n{ background-position: 0 -5381px; }
.mini_icon_sub2.Place.Pla6a{ background-position: 0 -5404px; }
.mini_icon_sub2.Place.Pla6b{ background-position: 0 -5427px; }
.mini_icon_sub2.Place.Pla6c{ background-position: 0 -5450px; }
.mini_icon_sub2.Place.Pla6d{ background-position: 0 -5473px; }
.mini_icon_sub2.Place.Pla6e{ background-position: 0 -5496px; }
.mini_icon_sub2.Place.Pla6f{ background-position: 0 -5519px; }
.mini_icon_sub2.Place.Pla6g{ background-position: 0 -5542px; }
.mini_icon_sub2.Place.Pla6h{ background-position: 0 -5565px; }
.mini_icon_sub2.Place.Pla6i{ background-position: 0 -5588px; }
.mini_icon_sub2.Place.Pla6j{ background-position: 0 -5611px; }
.mini_icon_sub2.Place.Pla7a{ background-position: 0 -5634px; }
.mini_icon_sub2.Place.Pla7b{ background-position: 0 -5657px; }
.mini_icon_sub2.Place.Pla7c{ background-position: 0 -5680px; }
.mini_icon_sub2.Place.Pla7d{ background-position: 0 -5703px; }
.mini_icon_sub2.Place.Pla7e{ background-position: 0 -5726px; }
.mini_icon_sub2.Place.Pla7f{ background-position: 0 -5749px; }
.mini_icon_sub2.Place.Pla7g{ background-position: 0 -5772px; }
.mini_icon_sub2.Place.Pla7h{ background-position: 0 -5795px; }
.mini_icon_sub2.Place.Pla7i{ background-position: 0 -5818px; }
.mini_icon_sub2.Place.Pla7j{ background-position: 0 -5841px; }
.mini_icon_sub2.Place.Pla7k{ background-position: 0 -5864px; }
.mini_icon_sub2.Place.Pla7l{ background-position: 0 -5887px; }
.mini_icon_sub2.Place.Pla7m{ background-position: 0 -5910px; }
.mini_icon_sub2.Place.Pla7n{ background-position: 0 -5933px; }
.mini_icon_sub2.Place.Pla7o{ background-position: 0 -5956px; }
.mini_icon_sub2.Place.Pla7p{ background-position: 0 -5979px; }
.mini_icon_sub2.Place.Pla8a{ background-position: 0 -6002px; }
.mini_icon_sub2.Place.Pla8b{ background-position: 0 -6025px; }
.mini_icon_sub2.Place.Pla8c{ background-position: 0 -6048px; }
.mini_icon_sub2.Place.Pla8d{ background-position: 0 -6071px; }
.mini_icon_sub2.Place.Pla8e{ background-position: 0 -6094px; }
.mini_icon_sub2.Place.Pla8f{ background-position: 0 -6117px; }
.mini_icon_sub2.Place.Pla8g{ background-position: 0 -6140px; }
.mini_icon_sub2.Place.Pla8h{ background-position: 0 -6163px; }
.mini_icon_sub2.Place.Pla8i{ background-position: 0 -6186px; }
.mini_icon_sub2.Place.Pla8j{ background-position: 0 -6209px; }
.mini_icon_sub2.Place.Pla9a{ background-position: 0 -6232px; }
.mini_icon_sub2.Place.Pla9b{ background-position: 0 -6255px; }
.mini_icon_sub2.Place.Pla9c{ background-position: 0 -6278px; }
.mini_icon_sub2.Place.Pla9d{ background-position: 0 -6301px; }
.mini_icon_sub2.Place.Pla9e{ background-position: 0 -6324px; }
.mini_icon_sub2.Place.Pla9f{ background-position: 0 -6347px; }
.mini_icon_sub2.Place.Pla9g{ background-position: 0 -6370px; }
.mini_icon_sub2.Place.Pla9h{ background-position: 0 -6393px; }
/* Sport Subcategory 2 */
.mini_icon_sub2.Sport{ background-image: url(./subcategory2_icons_sport.png); }
.mini_icon_sub2.Sport.Spo10a{ background-position: 0 0; }
.mini_icon_sub2.Sport.Spo10b{ background-position: 0 -23px; }
.mini_icon_sub2.Sport.Spo10c{ background-position: 0 -46px; }
.mini_icon_sub2.Sport.Spo10d{ background-position: 0 -69px; }
.mini_icon_sub2.Sport.Spo10e{ background-position: 0 -92px; }
.mini_icon_sub2.Sport.Spo10f{ background-position: 0 -115px; }
.mini_icon_sub2.Sport.Spo10g{ background-position: 0 -138px; }
.mini_icon_sub2.Sport.Spo10h{ background-position: 0 -161px; }
.mini_icon_sub2.Sport.Spo11a{ background-position: 0 -184px; }
.mini_icon_sub2.Sport.Spo11b{ background-position: 0 -207px; }
.mini_icon_sub2.Sport.Spo11c{ background-position: 0 -230px; }
.mini_icon_sub2.Sport.Spo11d{ background-position: 0 -253px; }
.mini_icon_sub2.Sport.Spo11e{ background-position: 0 -276px; }
.mini_icon_sub2.Sport.Spo12a{ background-position: 0 -299px; }
.mini_icon_sub2.Sport.Spo12b{ background-position: 0 -322px; }
.mini_icon_sub2.Sport.Spo12c{ background-position: 0 -345px; }
.mini_icon_sub2.Sport.Spo12d{ background-position: 0 -368px; }
.mini_icon_sub2.Sport.Spo12e{ background-position: 0 -391px; }
.mini_icon_sub2.Sport.Spo12f{ background-position: 0 -414px; }
.mini_icon_sub2.Sport.Spo12g{ background-position: 0 -437px; }
.mini_icon_sub2.Sport.Spo12h{ background-position: 0 -460px; }
.mini_icon_sub2.Sport.Spo14a{ background-position: 0 -483px; }
.mini_icon_sub2.Sport.Spo14b{ background-position: 0 -506px; }
.mini_icon_sub2.Sport.Spo15a{ background-position: 0 -529px; }
.mini_icon_sub2.Sport.Spo15b{ background-position: 0 -552px; }
.mini_icon_sub2.Sport.Spo15c{ background-position: 0 -575px; }
.mini_icon_sub2.Sport.Spo16a{ background-position: 0 -598px; }
.mini_icon_sub2.Sport.Spo16b{ background-position: 0 -621px; }
.mini_icon_sub2.Sport.Spo17a{ background-position: 0 -644px; }
.mini_icon_sub2.Sport.Spo17b{ background-position: 0 -667px; }
.mini_icon_sub2.Sport.Spo18a{ background-position: 0 -690px; }
.mini_icon_sub2.Sport.Spo18b{ background-position: 0 -713px; }
.mini_icon_sub2.Sport.Spo22a{ background-position: 0 -736px; }
.mini_icon_sub2.Sport.Spo23a{ background-position: 0 -759px; }
.mini_icon_sub2.Sport.Spo25a{ background-position: 0 -782px; }
.mini_icon_sub2.Sport.Spo25b{ background-position: 0 -805px; }
.mini_icon_sub2.Sport.Spo26a{ background-position: 0 -828px; }
.mini_icon_sub2.Sport.Spo26b{ background-position: 0 -851px; }
.mini_icon_sub2.Sport.Spo26c{ background-position: 0 -874px; }
.mini_icon_sub2.Sport.Spo27a{ background-position: 0 -897px; }
.mini_icon_sub2.Sport.Spo27b{ background-position: 0 -920px; }
.mini_icon_sub2.Sport.Spo27c{ background-position: 0 -943px; }
.mini_icon_sub2.Sport.Spo27d{ background-position: 0 -966px; }
.mini_icon_sub2.Sport.Spo28a{ background-position: 0 -989px; }
.mini_icon_sub2.Sport.Spo28b{ background-position: 0 -1012px; }
.mini_icon_sub2.Sport.Spo29a{ background-position: 0 -1035px; }
.mini_icon_sub2.Sport.Spo29b{ background-position: 0 -1058px; }
.mini_icon_sub2.Sport.Spo2a{ background-position: 0 -1081px; }
.mini_icon_sub2.Sport.Spo2b{ background-position: 0 -1104px; }
.mini_icon_sub2.Sport.Spo30a{ background-position: 0 -1127px; }
.mini_icon_sub2.Sport.Spo30b{ background-position: 0 -1150px; }
.mini_icon_sub2.Sport.Spo3a{ background-position: 0 -1173px; }
.mini_icon_sub2.Sport.Spo3b{ background-position: 0 -1196px; }
.mini_icon_sub2.Sport.Spo4a{ background-position: 0 -1219px; }
.mini_icon_sub2.Sport.Spo4b{ background-position: 0 -1242px; }
.mini_icon_sub2.Sport.Spo4c{ background-position: 0 -1265px; }
.mini_icon_sub2.Sport.Spo4d{ background-position: 0 -1288px; }
.mini_icon_sub2.Sport.Spo6a{ background-position: 0 -1311px; }
.mini_icon_sub2.Sport.Spo6b{ background-position: 0 -1334px; }
.mini_icon_sub2.Sport.Spo6c{ background-position: 0 -1357px; }
.mini_icon_sub2.Sport.Spo6e{ background-position: 0 -1380px; }
.mini_icon_sub2.Sport.Spo6f{ background-position: 0 -1403px; }
.mini_icon_sub2.Sport.Spo7a{ background-position: 0 -1426px; }
.mini_icon_sub2.Sport.Spo7b{ background-position: 0 -1449px; }
.mini_icon_sub2.Sport.Spo7c{ background-position: 0 -1472px; }
.mini_icon_sub2.Sport.Spo8a{ background-position: 0 -1495px; }
.mini_icon_sub2.Sport.Spo8b{ background-position: 0 -1518px; }
.mini_icon_sub2.Sport.Spo8c{ background-position: 0 -1541px; }
.mini_icon_sub2.Sport.Spo9a{ background-position: 0 -1564px; }
.mini_icon_sub2.Sport.Spo9b{ background-position: 0 -1587px; }
.mini_icon_sub2.Sport.Spo9c{ background-position: 0 -1610px; }
/* Deal Subcategory 2 */
.mini_icon_sub2.Deal{ background-image: url(./subcategory2_icons_product.png); }
.mini_icon_sub2.Deal.Pro1a{ background-position: 0 0; }
.mini_icon_sub2.Deal.Pro1b{ background-position: 0 -23px; }
.mini_icon_sub2.Deal.Pro1c{ background-position: 0 -46px; }
.mini_icon_sub2.Deal.Pro1d{ background-position: 0 -69px; }
.mini_icon_sub2.Deal.Pro1e{ background-position: 0 -92px; }
.mini_icon_sub2.Deal.Pro2a{ background-position: 0 -115px; }
.mini_icon_sub2.Deal.Pro2b{ background-position: 0 -138px; }
.mini_icon_sub2.Deal.Pro2c{ background-position: 0 -161px; }
.mini_icon_sub2.Deal.Pro2d{ background-position: 0 -184px; }
.mini_icon_sub2.Deal.Pro2e{ background-position: 0 -207px; }
.mini_icon_sub2.Deal.Pro2f{ background-position: 0 -230px; }
/* News Subcategory 2 */
.mini_icon_sub2.News{ background-image: url(./subcategory2_icons_news.png); }
.mini_icon_sub2.News.New2a{ background-position: 0 0; }
.mini_icon_sub2.News.New2b{ background-position: 0 -23px; }
.mini_icon_sub2.News.New2c{ background-position: 0 -46px; }
.mini_icon_sub2.News.New2d{ background-position: 0 -69px; }
.mini_icon_sub2.News.New2e{ background-position: 0 -92px; }
.mini_icon_sub2.News.New2f{ background-position: 0 -115px; }
.mini_icon_sub2.News.New2g{ background-position: 0 -138px; }
.mini_icon_sub2.News.New2h{ background-position: 0 -161px; }
.mini_icon_sub2.News.New2i{ background-position: 0 -184px; }
.mini_icon_sub2.News.New2j{ background-position: 0 -207px; }
.mini_icon_sub2.News.New2k{ background-position: 0 -230px; }
.mini_icon_sub2.News.New2l{ background-position: 0 -253px; }
.mini_icon_sub2.News.New2m{ background-position: 0 -276px; }
.mini_icon_sub2.News.New2n{ background-position: 0 -299px; }
.mini_icon_sub2.News.New2o{ background-position: 0 -322px; }
.mini_icon_sub2.News.New2p{ background-position: 0 -345px; }
.mini_icon_sub2.News.New2q{ background-position: 0 -368px; }
.mini_icon_sub2.News.New3a{ background-position: 0 -391px; }
.mini_icon_sub2.News.New3b{ background-position: 0 -414px; }
.mini_icon_sub2.News.New4a{ background-position: 0 -437px; }
.mini_icon_sub2.News.New4aa{ background-position: 0 -460px; }
.mini_icon_sub2.News.New4ab{ background-position: 0 -483px; }
.mini_icon_sub2.News.New4ac{ background-position: 0 -506px; }
.mini_icon_sub2.News.New4ad{ background-position: 0 -529px; }
.mini_icon_sub2.News.New4ae{ background-position: 0 -552px; }
.mini_icon_sub2.News.New4af{ background-position: 0 -575px; }
.mini_icon_sub2.News.New4ag{ background-position: 0 -598px; }
.mini_icon_sub2.News.New4ah{ background-position: 0 -621px; }
.mini_icon_sub2.News.New4ai{ background-position: 0 -644px; }
.mini_icon_sub2.News.New4aj{ background-position: 0 -667px; }
.mini_icon_sub2.News.New4ak{ background-position: 0 -690px; }
.mini_icon_sub2.News.New4al{ background-position: 0 -713px; }
.mini_icon_sub2.News.New4am{ background-position: 0 -736px; }
.mini_icon_sub2.News.New4an{ background-position: 0 -759px; }
.mini_icon_sub2.News.New4ao{ background-position: 0 -782px; }
.mini_icon_sub2.News.New4ap{ background-position: 0 -805px; }
.mini_icon_sub2.News.New4aq{ background-position: 0 -828px; }
.mini_icon_sub2.News.New4ar{ background-position: 0 -851px; }
.mini_icon_sub2.News.New4as{ background-position: 0 -874px; }
.mini_icon_sub2.News.New4at{ background-position: 0 -897px; }
.mini_icon_sub2.News.New4au{ background-position: 0 -920px; }
.mini_icon_sub2.News.New4av{ background-position: 0 -943px; }
.mini_icon_sub2.News.New4b{ background-position: 0 -966px; }
.mini_icon_sub2.News.New4c{ background-position: 0 -989px; }
.mini_icon_sub2.News.New4d{ background-position: 0 -1012px; }
.mini_icon_sub2.News.New4e{ background-position: 0 -1035px; }
.mini_icon_sub2.News.New4f{ background-position: 0 -1058px; }
.mini_icon_sub2.News.New4g{ background-position: 0 -1081px; }
.mini_icon_sub2.News.New4h{ background-position: 0 -1104px; }
.mini_icon_sub2.News.New4i{ background-position: 0 -1127px; }
.mini_icon_sub2.News.New4j{ background-position: 0 -1150px; }
.mini_icon_sub2.News.New4k{ background-position: 0 -1173px; }
.mini_icon_sub2.News.New4l{ background-position: 0 -1196px; }
.mini_icon_sub2.News.New4m{ background-position: 0 -1219px; }
.mini_icon_sub2.News.New4n{ background-position: 0 -1242px; }
.mini_icon_sub2.News.New4o{ background-position: 0 -1265px; }
.mini_icon_sub2.News.New4p{ background-position: 0 -1288px; }
.mini_icon_sub2.News.New4q{ background-position: 0 -1311px; }
.mini_icon_sub2.News.New4r{ background-position: 0 -1334px; }
.mini_icon_sub2.News.New4s{ background-position: 0 -1357px; }
.mini_icon_sub2.News.New4t{ background-position: 0 -1380px; }
.mini_icon_sub2.News.New4u{ background-position: 0 -1403px; }
.mini_icon_sub2.News.New4v{ background-position: 0 -1426px; }
.mini_icon_sub2.News.New4w{ background-position: 0 -1449px; }
.mini_icon_sub2.News.New4x{ background-position: 0 -1472px; }
.mini_icon_sub2.News.New4y{ background-position: 0 -1495px; }
.mini_icon_sub2.News.New4z{ background-position: 0 -1518px; }
.mini_icon_sub2.News.New5a{ background-position: 0 -1541px; }
.mini_icon_sub2.News.New5b{ background-position: 0 -1564px; }
.mini_icon_sub2.News.New5c{ background-position: 0 -1587px; }
.mini_icon_sub2.News.New5d{ background-position: 0 -1610px; }
.mini_icon_sub2.News.New5e{ background-position: 0 -1633px; }
.mini_icon_sub2.News.New5f{ background-position: 0 -1656px; }
.mini_icon_sub2.News.New5g{ background-position: 0 -1679px; }
.mini_icon_sub2.News.New5h{ background-position: 0 -1702px; }
.mini_icon_sub2.News.New5i{ background-position: 0 -1725px; }
.mini_icon_sub2.News.New5j{ background-position: 0 -1748px; }
.mini_icon_sub2.News.New5k{ background-position: 0 -1771px; }
.mini_icon_sub2.News.New5l{ background-position: 0 -1794px; }
.mini_icon_sub2.News.New5m{ background-position: 0 -1817px; }
.mini_icon_sub2.News.New5n{ background-position: 0 -1840px; }
.mini_icon_sub2.News.New5o{ background-position: 0 -1863px; }
.mini_icon_sub2.News.New5p{ background-position: 0 -1886px; }
.mini_icon_sub2.News.New5q{ background-position: 0 -1909px; }
.mini_icon_sub2.News.New5r{ background-position: 0 -1932px; }
.mini_icon_sub2.News.New5s{ background-position: 0 -1955px; }
.mini_icon_sub2.News.New6a{ background-position: 0 -1978px; }
.mini_icon_sub2.News.New6b{ background-position: 0 -2001px; }
.mini_icon_sub2.News.New6c{ background-position: 0 -2024px; }
.mini_icon_sub2.News.New6d{ background-position: 0 -2047px; }
.mini_icon_sub2.News.New6e{ background-position: 0 -2070px; }
.mini_icon_sub2.News.New6f{ background-position: 0 -2093px; }
.mini_icon_sub2.News.New6g{ background-position: 0 -2116px; }
.mini_icon_sub2.News.New6h{ background-position: 0 -2139px; }
.mini_icon_sub2.News.New6i{ background-position: 0 -2162px; }
.mini_icon_sub2.News.New6j{ background-position: 0 -2185px; }
.mini_icon_sub2.News.New6k{ background-position: 0 -2208px; }
.mini_icon_sub2.News.New6l{ background-position: 0 -2231px; }
.mini_icon_sub2.News.New6m{ background-position: 0 -2254px; }
.mini_icon_sub2.News.New6n{ background-position: 0 -2277px; }
.mini_icon_sub2.News.New6o{ background-position: 0 -2300px; }
.mini_icon_sub2.News.New6p{ background-position: 0 -2323px; }
.mini_icon_sub2.News.New6q{ background-position: 0 -2346px; }
.mini_icon_sub2.News.New6r{ background-position: 0 -2369px; }
.mini_icon_sub2.News.New6s{ background-position: 0 -2392px; }
.mini_icon_sub2.News.New6t{ background-position: 0 -2415px; }
.mini_icon_sub2.News.New6u{ background-position: 0 -2438px; }
.mini_icon_sub2.News.New6v{ background-position: 0 -2461px; }
.mini_icon_sub2.News.New6w{ background-position: 0 -2484px; }
.mini_icon_sub2.News.New7a{ background-position: 0 -2507px; }
.mini_icon_sub2.News.New7b{ background-position: 0 -2530px; }
.mini_icon_sub2.News.New7c{ background-position: 0 -2553px; }
.mini_icon_sub2.News.New7d{ background-position: 0 -2576px; }
.mini_icon_sub2.News.New7e{ background-position: 0 -2599px; }
.mini_icon_sub2.News.New7f{ background-position: 0 -2622px; }
.mini_icon_sub2.News.New7g{ background-position: 0 -2645px; }
.mini_icon_sub2.News.New7h{ background-position: 0 -2668px; }
.mini_icon_sub2.News.New7i{ background-position: 0 -2691px; }
.mini_icon_sub2.News.New7j{ background-position: 0 -2714px; }
.mini_icon_sub2.News.New7k{ background-position: 0 -2737px; }
.mini_icon_sub2.News.New7l{ background-position: 0 -2760px; }
.mini_icon_sub2.News.New7m{ background-position: 0 -2783px; }
.mini_icon_sub2.News.New7n{ background-position: 0 -2806px; }
