<script type="text/javascript">
	$(document).ready(function () {
		$("#sidebar_help").accordion({
			autoHeight: false,
			navigation: true
		});

		$('#ifr_general').height(document.getElementById('ifr_general').contentWindow.outerWidth);
//		$('#ifr_map').height(document.getElementById('ifr_map').contentWindow.outerWidth);
//		$('#ifr_line').height(document.getElementById('ifr_line').contentWindow.outerWidth);
		$('#ifr_faq').height(document.getElementById('ifr_faq').contentWindow.outerWidth);
//		$('#ifr_list').height(document.getElementById('ifr_list').contentWindow.outerWidth);
		$('#ifr_lend').height(document.getElementById('ifr_lend').contentWindow.outerWidth);

		$('#sidebar_help iframe').each(function () {
			var id = $(this).attr('id');
			$(this).bind('load', function () {
				$(this).height(document.getElementById(id).contentWindow.outerHeight);
			});
		});
	});
</script>
<h3 class="lf-title">Help</h3>
<div id="sidebar_help">
	<h3><a href="#">General</a></h3>
	<p><iframe id="ifr_general" src="Help Quick/Help Quick General.htm" style="width: 585px; height: 300px;"></iframe></p>
<!--	<h3><a href="#">Map</a></h3>-->
<!--	<p><iframe id="ifr_map" src="Help Quick/Help Quick Map.htm" style="width: 585px; height: 300px;"></iframe></p>-->
<!--	<h3><a href="#">Line</a></h3>-->
<!--	<p><iframe id="ifr_line" src="Help Quick/Help Quick Line.htm" style="width: 585px; height: 300px;"></iframe></p>-->
	<h3><a href="#">FAQ</a></h3>
	<p><iframe id="ifr_faq" src="Help Quick/Help Quick FAQ.htm" style="width: 585px; height: 300px;"></iframe></p>
<!--	<h3><a href="#">List</a></h3>-->
<!--	<p><iframe id="ifr_list" src="Help Quick/Help Quick List.htm" style="width: 585px; height: 300px;"></iframe></p>-->
	<h3><a href="#">Lend to 50I50</a></h3>
	<p><iframe id="ifr_lend" src="Help Quick/Help Quick Lend.htm" style="width: 585px; height: 300px;"></iframe></p>
</div>

<!--  onload="height_correct($(this).attr('id'))" -->