<style type="text/css">
#slideshow{ min-width: 700px; min-height: 400px; background: #ccc; position: absolute; z-index: 100000001; margin-left: -350px; left: 50%; top: 80px; color: #000; padding: 5px 0 0; }
#slideshow .ui-widget-header{ background: none; border: none; }
#slideshow .ui-tabs-panel{ border: 1px solid #000; padding: 0; }

#slideshow .slideshow-again,
#slideshow .slideshow-tour{ font-size: 16px; height: 25px; line-height: 25px; padding: 7px 10px 0 5px; }
#slideshow .slideshow-again{ padding: 7px 50px 0 30px; }
#slideshow .slideshow-close{ display: block; width: 24px; height: 24px; margin: 2px 8px 0; background: url(../images/close-slideshow.png) no-repeat; }

#slideshow_tab{ clear: both; position: relative; overflow: hidden; width: 700px; height: 314px; border-radius: 0; border-left: none; border-right: none; }
#slideshow_tab .slideshow-box{ position: absolute; width: 7000px; height: 314px; }
#slideshow_tab .slideshow-block{ float: left; width: 700px; }
#slideshow_tab .arrow-ruler{ top: 50%; margin-top: -24px; }

#slideshow .arrow-slideshow-ruler{ display: block; width: 48px; position: absolute; height: 293px; background: url(../img/content/back-next-spr.png) no-repeat center center; top: 10px; z-index: 100;}
#slideshow .arrow-slideshow-ruler.fl{ background-image: url(../images/slideshow-arrow-left.png); left: -7px; }
#slideshow .arrow-slideshow-ruler.fr{ background-image: url(../images/slideshow-arrow-right.png); right: -7px; }
</style>
<script type="text/javascript">
$(document).ready(function () {
	$( "#slideshow" ).tabs();
	$('.slideshow-close').click(function () { $("#slideshow").remove(); $('#slideshow_wrapper').remove(); });
	$('#dont_again').change(function () {
		var check = $(this).attr('checked');

		if (check)
			setCookie('<?=SLIDESHOW_COOKIE;?>', 'true', COOKIE_LIFE, '/');
		else
			setCookie('<?=SLIDESHOW_COOKIE;?>', '', 0, '/');
	});

	$('#slideshow_tab .arrow-slideshow-ruler').click(function () {
		var slideshow = $('#slideshow_tab .slideshow-box');
		if ($(this).hasClass('fr')) {
			slideshow.animate({'left': '-700px'}, 'slow', function () {
			var first_el = $(this).find('.slideshow-block:first');
			$(this).append(first_el.clone());
			$(this).css({'left': 0});
			first_el.remove();
			});
		} else {
			var last_el = slideshow.find('.slideshow-block:last');

			slideshow.prepend(last_el.clone());
			slideshow.css({'left': '-700px'}).animate({'left': '0px'}, 'slow');
			last_el.remove();
		}
		return false;
	});

	$('#slideshow_tab').hover(function () {
		$(this).find('.arrow-slideshow-ruler').stop(true, true).fadeIn('slow');
	}, function () {
		$(this).find('.arrow-slideshow-ruler').stop(true, true).fadeOut('slow');
	});
});
</script>
<div id="slideshow_wrapper"></div>
<div id="slideshow">
	<div class="fl slideshow-tour">Tour:</div>
	<ul class="fl">
		<li><a href="#slideshow_tab">Slideshow</a></li>
		<li><a href="#video_tab">Video</a></li>
	</ul>
	<a class="fr slideshow-close" href="javascript:void(0);"></a>
	<div class="fr slideshow-again"><label>Do not show again <input type="checkbox" id="dont_again" /></label></div>
	<div class="clear"></div>

	<div id="slideshow_tab">
		<a class="arrow-slideshow-ruler fl" href="#"></a>
		<a class="arrow-slideshow-ruler fr" href="#"></a>
		<div class="slideshow-box">
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture1.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture2.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture3.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture4.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture5.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture6.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture7.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture8.jpg" /></div>
			<div class="slideshow-block"><img alt="" src="<?=PROTOCOL . URL_PARENT;?>Slideshow/Picture9.jpg" /></div>
		</div>
	</div>

	<div id="video_tab">
		<iframe  width="700" height="360" src="http://www.youtube.com/embed/EEOQbz2Hhu8" frameborder="0" allowfullscreen></iframe>
<!--		<iframe width="700" height="360" src="http://www.youtube.com/embed/SakgCcxO1uA?feature=player_detailpage" modestbranding="1" showinfo="0" rel="0"  autoplay="1" autohide="1" allowfullscreen></iframe>-->
	</div>
</div>
