<?php
//require_once ('../server/config.php');
require_once ('../../server/Category.php');
$cat_id = isset($_REQUEST['cat_id']) ? intval($_REQUEST['cat_id']) : 0;

$oCat = new Category();
if (! isset($oCat->aGroupCat[$cat_id]))
	echo json_encode(array('error' => true));

$ids_cats = array();
foreach ($oCat->aGroupCat[$cat_id]['sub_cat'] as $key => $val) {
	$count_subcat = count($val['sub_cat']);
	if ($count_subcat) {
		echo '<li><ul class="subsub">';
		foreach ($val['sub_cat'] as $k => $v) {
			?><li><a id="cid_<?=$k;?>" class="pid_<?=$cat_id;?>" data-id="<?=$k;?>;<?=$cat_id;?>" href="#"><img alt="<?=$v['name'];?>" title="Select All/Unselect" src="<?=PROTOCOL . URL_PARENT;?>time_icons/<?=$v['icon']?>" /><?=$v['name'];?></a></li><?php
		}
		echo "</ul>";

		?><a id="cid_<?=$key;?>" class="pid_<?=$cat_id;?>" data-id="<?=$key;?>;<?=$cat_id;?>" href="#"><span data-max="<?=$count_subcat;?>"><?=$count_subcat;?></span><img alt="<?=$val['name'];?>" title="Select All/Unselect" src="<?=PROTOCOL . URL_PARENT;?>time_icons/<?=$val['icon']?>" /><?=$val['name'];?><?php if (count($val['sub_cat'])) echo '<em></em>'; ?></a></li><?php
	} else {
		?><li><a id="cid_<?=$key;?>" class="pid_<?=$cat_id;?>" data-id="<?=$key;?>;<?=$cat_id;?>" href="#"><img alt="<?=$val['name'];?>" title="Select All/Unselect" src="<?=PROTOCOL . URL_PARENT;?>time_icons/<?=$val['icon']?>" /><?=$val['name'];?></a></li><?php
	}
}

//echo json_encode($oCat->aGroupCat[$cat_id]['sub_cat']);
//	<a id="cid_' + res[i].id +  '" class="pid_' + self.data('id') + '" href="#">