<?php
if (! isset($_REQUEST['cat_id']) && ! intval($_REQUEST['cat_id'])) {
	exit;
}
$cat_id = intval($_REQUEST['cat_id']);
$cat = 'category';
$sub_cat = 'subcategory';

if (isset($_REQUEST['sub'])) {
	$cat = 'subcategory';
	$sub_cat = 'subcategory2';
}


$query = "SELECT icons.id
     , icons.$sub_cat AS sub_cat
FROM
  icons
  INNER JOIN ( SELECT icons.$cat AS cat_name FROM icons WHERE icons.id = {$cat_id} ) category ON icons.$cat = category.cat_name
WHERE
  icons.$sub_cat <> ''
GROUP BY icons.$sub_cat";
$res = mysql_query($query);

if (mysql_num_rows($res))
	echo '<option value="0">Subcategory</option>';

while ($row = mysql_fetch_array($res)) {
?>
<option value="<?php echo $row['id']?>"><?php echo $row['sub_cat']?></option>
<?php
}