* {padding: 0; margin: 0; }
html{ height: 100%; overflow: hidden; width: 100%; }
body{ background: #000; color: #fff; font: 12px/1em Arial; padding: 0; margin: 0; width: 100%; height: 100%; overflow: hidden; }
a{ color: #fff; text-decoration: none; }
img{ border: none; }

.clear{ clear: both; overflow: auto; font-size: 0; width: 0; }
.fl { float: left; }
.fr { float: right; }
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.rel{ position: relative; }
.hidden{ display: none; }
.border-one{ border: 1px solid #000; }


.button_icon{ font-size: 1.1em; padding: 4px 10px; display: block; height: 23px; line-height: 23px; border-radius: 6px; background: #1C1C1C url(./custom-theme/images/ui-bg_highlight-hard_60_1c1c1c_1x100.png) repeat-x 50% 50%; border: 1px solid #000000; color: #FFFFFF; font-weight: bold; }
input.button_icon{ padding: 0 10px; height: 31px; line-height: 31px; cursor: pointer; }
.button_icon.act{ background: #04d20f url(./custom-theme/images/ui-bg_highlight-hard_60_0b9bbc_1x100.png) 50% 50% repeat-x; color: #000000; }
.button_icon:hover{ background: #04d20f url(./custom-theme/images/ui-bg_highlight-hard_60_04d20f_1x100.png) 50% 50% repeat-x; color: #000000; }
.button_icon span.icon{ background: url(../img/button_icons/help.png) no-repeat; width: 20px; height: 20px; float: left; display: block; margin: 1px 5px 0 0; }
.button_icon.help .icon{}/*background-image: url(../img/button_icons/help.png); */
.button_icon.filter .icon{ background-image: url(../img/button_icons/filter.png); }
.button_icon.set_date .icon{ background-image: url(../img/button_icons/set-date.png); width: 24px; }
.button_icon.set_loc .icon{ background-image: url(../img/button_icons/set-loc.png); width: 24px; }
.button_icon.to_here .icon{ background-image: url(../img/button_icons/to-here.png); }
.button_icon.to_now .icon{ background-image: url(../img/button_icons/to-now.png); }

.radio_icon{ font-size: 1.1em; border-radius: 6px; overflow: hidden; border: 1px solid #000000; }
.radio_icon label{ cursor: pointer; float: left; padding: 4px 10px; display: block; position: relative; height: 23px; line-height: 23px; background: #1C1C1C url(./custom-theme/images/ui-bg_highlight-hard_60_1c1c1c_1x100.png) repeat-x 50% 50%;  color: #FFFFFF; font-weight: bold; border-left: 1px solid #000000; }
.radio_icon label:first-child{ border-left: none; }
.radio_icon label input{ visibility: hidden; position: absolute; top: 0; left: 0; }
.radio_icon label:hover{ background: #04d20f url(./custom-theme/images/ui-bg_highlight-hard_60_04d20f_1x100.png) 50% 50% repeat-x; color: #000000; }
.radio_icon label.act{ background: #04d20f url(./custom-theme/images/ui-bg_highlight-hard_60_0b9bbc_1x100.png) 50% 50% repeat-x; color: #000000; }
.radio_icon label .icon{ background: url(../img/button_icons/line.png) no-repeat; width: 20px; height: 20px; float: left; display: block; margin: 1px 5px 0 0; }
.radio_icon label.line .icon{}/*background-image: url(../img/button_icons/line.png); */
.radio_icon label.space .icon{ background-image: url(../img/button_icons/map.png); }
.radio_icon label.grid .icon{ background-image: url(../img/button_icons/list.png); }
.radio_icon label.show .icon{ background-image: url(../img/button_icons/show.png); }
.radio_icon label.jump .icon{ background-image: url(../img/button_icons/jump.png); }
/* -----------------------------------
Loading Shadow ----------------------- */
.map_shadow{ position: absolute; top: 0; left: 0; z-index: 100000; width: 0; height: 0; }
.map_shadow div{ position: relative; background: #000 url(../img/loading.gif) no-repeat center center; opacity: 0.7; width: 300px; height: 170px; margin: -85px 0 0 -150px; border-radius: 25px; left: 50%; top: 50%; }




/* -----------------------------------
HEADER ------------------------------- */
#menu{}
#menu .menu_content{ background: #000 url(../img/head/bg.jpg) repeat-x center bottom; padding: 5px 8px 5px 140px; position: relative; }
#menu .menu_content .logo_img{ background: url(../img/head/logo_img.png) no-repeat; display: block; height: 68px; width: 116px; position: absolute; left: 5px; top: 0; z-index: 102; }
#menu .menu_content .logo_txt{ background: url(../img/head/logo_txt.png) no-repeat; display: block; height: 38px; width: 273px; }

#menu .search{ height: 32px; margin: 4px 5px 0 20px; }
#menu .search .search-box{ background: url("../img/head/search/box.png"); position: relative; float: left; width: 356px; height: 32px; }
#menu .search .search-box .clear-search{ background: url('../img/head/search/clear.png') no-repeat center center; position: absolute; width: 17px; height: 17px; top: 9px; right: 37px; display: none; }
#menu .search .search-box .search-submit{ position: absolute; top: 2px; right: 1px; cursor: pointer; width: 27px; height: 30px; background: none; border: none; }
#search_term { float: left; border: none; background: none; width: 220px; height: 20px; line-height: 20px; color: #8a8a8a; margin: 7px 0 0 5px; }
#menu .search_button{ float: left; height: 31px; margin: 4px 5px 0; }

#search_type_dropdown{ margin: 2px; z-index: 1000; width: 95px; height: 28px; overflow: hidden; position: relative; color: #000; font-weight: bold; border-radius: 3px; background: #eaeaea; }
#search_type_dropdown{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eaeaea), to(#8b8b8b));
	background: -webkit-linear-gradient(#eaeaea, #8b8b8b);
	background: -moz-linear-gradient(#eaeaea, #8b8b8b);
	background: -ms-linear-gradient(#eaeaea, #8b8b8b);
	background: -o-linear-gradient(#eaeaea, #8b8b8b);
	background: linear-gradient(#eaeaea, #8b8b8b);
}
#search_type_dropdown li{ float: left; }
#search_type_dropdown li a{ display: block; font-size: 14px; padding-left: 5px; width: 85px; height: 28px; line-height: 28px; color: #000; }
#search_type_dropdown li.select a{ background: url(../img/head/search/box-dropdown.png) no-repeat right center; }
#search_type_dropdown li.active{ border-radius: 3px; background: #eaeaea; }
#search_type_dropdown li.active{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eaeaea), to(#8b8b8b));
	background: -webkit-linear-gradient(#eaeaea, #8b8b8b);
	background: -moz-linear-gradient(#eaeaea, #8b8b8b);
	background: -ms-linear-gradient(#eaeaea, #8b8b8b);
	background: -o-linear-gradient(#eaeaea, #8b8b8b);
	background: linear-gradient(#eaeaea, #8b8b8b);
}
#search_type_dropdown li.active a{ background: url(../img/head/search/box-dropdown.png) no-repeat right center; }


.search-input-box{ position: relative; float: left; }
#search-res-block{ position: absolute; top: 27px; left: -2px; width: 240px; padding: 0 5px 5px; background: #8b8b8b; color: #fff; z-index: 10000; display: none; }
#search-res-block{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8b8b8b), to(#6a6a6a));
	background: -webkit-linear-gradient(#8b8b8b, #6a6a6a);
	background: -moz-linear-gradient(#8b8b8b, #6a6a6a);
	background: -ms-linear-gradient(#8b8b8b, #6a6a6a);
	background: -o-linear-gradient(#8b8b8b, #6a6a6a);
	background: linear-gradient(#8b8b8b, #6a6a6a);
}
#search-res-block .search-res-status{ padding: 7px 0 5px; }
#search-res-block .search-result{ color: #000; padding: 0; max-height: 400px; overflow-y: scroll; }
#search-res-block .search-result li{ list-style: none; padding: 5px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; background: #fff;cursor: pointer; }
#search-res-block .search-result li:hover{ border-top: 1px solid #8b8b8b; border-bottom: 1px solid #8b8b8b; }
#search-res-block .search-result li:active{ background: none; }
#search-res-block .search-res-more{ color: #ff0; display: block; padding: 5px 0; margin-bottom: 0; }

#menu .header_fr_menu{ margin-top: 4px; height: 31px;  line-height: 31px; float: right; }
#menu .header_fr_menu .democracy-link{ padding-right: 20px; font-size: 18px; }
#menu .header_fr_menu .democracy-link{ text-decoration: underline; }
#menu .header_fr_menu .democracy-link:hover{ text-decoration: none; }


/* -----------------------------------
CONTET ------------------------------- */
#content {position: relative; }

.close_box_button{ display: block; position: absolute; z-index: 10; }
.close_box{ background: url(../img/content/close_block_bg.gif) repeat-x; height: 13px; text-align: center; width: 100%; position: relative }
.close_box .close_box_button{ background: url(../img/content/close_block_buttton.jpg) no-repeat center center; height: 13px; width: 60px;  top: 0; left: 50%; margin-left: -30px; }
.close_box .close_box_button.off{ background-image: url(../img/content/close_block_buttton_off.jpg); }
#header_close.close_box{ position: absolute; top: 0; left: 0; z-index: 101; }
/* ------------
Left Content */
#left-block{ width:300px; height:500px; position: absolute; left: -300px; background: #000 url(../img/left-sidebar/close_block_bg.gif) repeat-y right center; padding: 13px 13px 13px 0; }
#left-block .lf-content{ padding: 5px; height: 100%; overflow-y: auto; }
#left-block .lf-content .lf-title{ background: #a6a6a6; font: bold 14px Arial; text-align: center; padding: 5px; color: #000; margin: 5px 0 10px; border-radius: 5px; }
#left-block .lf-content .lf-title a{ color: #000; }
#left-block .close_box_button { background: url(../img/left-sidebar/close_block_buttton_off.jpg) no-repeat center center; height: 60px; width: 13px; top: 50%; right: 0; margin-top: -30px;}
#left-block .close_box_button.off{ background-image: url(../img/left-sidebar/close_block_buttton.jpg); }
#left-block h3{ font-size: 12px; font-weight: bold;}
#left-block div{ font-size: 12px; }
#left-block .accordion{ padding: 5px 2px; }
#left-block .accordion a{ color: #000; }
#left-block .accordion a:hover{ text-decoration: underline; }
#left-block .accordion-content{ padding: 5px 10px; background: #fff; border-radius: 5px; color: #000; }
/*#left-block .accordion-content a{ color: #00f; line-height: 20px; }*/

/* Filter temp */
#it_tabs{ font-size: 12px; }
#sidebar_filter .filter-remove{ width: 12px; height: 12px; margin-right: 5px; background: url("../img/basket.png") no-repeat; display: block; border: none; cursor: pointer; float: left; }
#sidebar_filter .apply{ width: 90px; height: 23px; background: url("../img/apply.png") no-repeat; display: block; border: none; cursor: pointer; }
#sidebar_filter .all-result{ display: none; }
#sidebar_filter .on-display{ display: none; }
/*#clear-all-filter{ color: #f00; font-size: 14px; line-height: 20px; }*/

#sidebar_filter .filters{ display: block; padding: 0 0 30px; }
#sidebar_filter .filters .filters-param{ padding: 10px 15px; margin-bottom: 5px; }

.filters-param input.text-bf{ width: 240px; padding: 0 5px; height: 21px; line-height: 21px; border: 0; background: url(../img/left-sidebar/search-bar-mini.png) no-repeat; margin: 0 0 5px; color: #8f8f8f; font-style: italic; }
.filters-param textarea.textarea-bf { width: 240px; padding: 5px; height: 81px; border: 0; background: url(../img/left-sidebar/search-bar-text.png) no-repeat; margin: 0 0 5px; color: #8f8f8f; font-style: italic; }
#sidebar_filter .filters .filters-param select.select-bf { width: 100%; margin: 0 0 5px; }
#sidebar_filter .filters .result_filter{ font-size: 12px; margin: 5px 0; clear: both; }
#sidebar_filter .filters .result_filter span{ display: block; font-size: 14px; text-decoration: underline }
#sidebar_filter .filters .result_filter label{ display: block; margin: 3px 0 0; }
#result_tags_filters label{ width: 40%; float: left; }
.ui-menu .ui-menu-item a{ font-size: 12px; }
.ui-menu{ z-index: 10 !important; }
.ui-datepicker{ font-size: 12px; }
/* Result Grid(Left Sidebar - Filter) */
#sidebar_filter .dataTable{ width: 100% !important; color: #000; }
#grid_fr_wrapper{}
#sidebar_filter .ev a{ color: #000; }
#sidebar_filter .ev a:hover{ text-decoration: underline; }
#sidebar_filter .top,
#sidebar_filter .bottom{ background: none; padding: 0 0 5px; border: none; }
#sidebar_filter .dataTables_info{ width: 100%; }
#sidebar_filter .dataTables_length{ width: 100%; float: none; }
#sidebar_filter .dataTables_paginate{ width: 100%; margin: 5px auto; }
#sidebar_filter .ui-buttonset .ui-button{ margin: 0; line-height: normal; padding: 0 2px; }
#sidebar_filter .dataTable thead{ display: none; }
#sidebar_filter .dataTable tr{ background: none; }
#sidebar_filter .dataTable td{ padding: 3px; margin: 2px 0 0; border-radius: 3px; background: #fff; }
#sidebar_filter .dataTable td h1{ font-size: 14px; }
#sidebar_filter .dataTable td p{ padding: 3px 1px; line-height: 1; }
#sidebar_filter .dataTable td p a.more{ color: #0000ff; }

#sidebar_filter.ui-tabs .ui-tabs-panel{ padding: 3px 2px; }


/* Set Date temp */
#sidebar_filter .filters .filter-submit{ padding: 10px 5px 5px; clear: both; line-height: 31px; height: 31px; }
/*#sidebar_set_date .filter-submit{ padding: 10px 5px 5px; clear: both; }*/
/*#sidebar_set_date .apply{ width: 90px; height: 23px; background: url("../img/apply.png") no-repeat; display: block; border: none; cursor: pointer; }*/

/* Tag Filter */
.filter-input-box{
  position: relative;
  float: left;
}
#filter-res-block{
  left: 2px;
  position: absolute;
  top: 18px;
  width: 235px;
  position: absolute;
  padding: 0 5px 5px;
  background: #8b8b8b;
  color: #fff;
  z-index: 10000;
}
#filter-res-block .filter-res-status{
  padding: 7px 0 5px;
}
#filter-res-block .filter-result{
  color: #000;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}
#filter-res-block .filter-result li{
  list-style: none;
  padding: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #fff;
  cursor: pointer;
}
#filter-res-block .filter-result li:hover{
  border-top: 1px solid #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
}
#filter-res-block .search-result li:active{
  background: none;
}
#filter-res-block .search-res-more{
  color: #ff0;
  display: block;
  padding: 5px 0;
  margin-bottom: 5px;
}

/* -------------
Right Content */

#right-block {overflow: hidden; width: 900px; height: 500px; position: relative; color: #000;}
#right-block .popup-settings{ position: absolute; top: 140px; right: 40px; padding: 15px; background: #000; color: #fff; z-index: 105; border: 1px solid #000; display: none; }
#right-block .popup-settings{ border-radius: 6px; background: linear-gradient(#000, #ccc); }
div.AnyTime-win{ height: 290px !important; }

.right-block-shadow{ overflow: hidden; width: 900px; height: 500px; position: relative; left: 13px; color: #000; padding-top: 13px; }

#right-block .arrow-ruler{ background: url(../img/content/back-next-spr.png) no-repeat; display: block; width: 27px; position: absolute; height: 46px; top: 2px; z-index: 100; }
#right-block .arrow-ruler.fl{ background-position: left center; left: -1px; }
#right-block .arrow-ruler.fr{ background-position: right center; right: -1px; }

#right-block .control_menu{ background: #000 url(../img/head/bg.jpg) repeat-x center bottom; width: 100%; position: absolute; top: 50px; z-index: 110; }
#right-block .control_menu .close_time_rules{ background: url(../img/content/close_block_rev_bg.gif) repeat-x; height: 13px; text-align: center; width: 100%; position: relative; }
#right-block .control_menu .close_time_rules .close_box_button{ background: url(../img/content/close_block_rev_buttton.jpg) no-repeat center center; height: 13px; width: 60px;  top: 0; left: 50%; margin-left: -30px; }
#right-block .control_menu .close_time_rules .close_box_button.off{ background-image: url(../img/content/close_block_rev_buttton_off.jpg); }

#right-block .control_menu .timeline_settings{ padding: 7px; }
#right-block .control_menu .timeline_settings .trackbar{ width: 160px; margin: 10px; }
#right-block .control_menu .timeline_settings .zoom-block{ margin-top: 1px; float: left; }
#right-block .control_menu .timeline_settings .zoom-block a.zoom-button{ width: 28px; height: 28px; line-height: 28px; text-align: center; font-weight: bold; padding: 0 }
#right-block .control_menu .timeline_settings .zoom-block a.zoom-button span{ padding: 0;  line-height: normal !important; }
#right-block .control_menu .timeline_settings .current-period-name{ height: 32px; line-height: 32px; text-shadow: 1px 1px 2px black; color: #fff; padding-left: 10px; }
#type_window{ margin: 1px 0 0 10px; }
#right-block .control_menu .timeline_settings .add-set{ position: relative; background: url(../images/settings-button/advanced-settings.png) no-repeat; width: 143px; height: 32px; margin: 0 7px; }
#right-block .control_menu .timeline_settings .add-set .links{ display: block; width: 28px; height: 28px; margin: 3px; }
#current-period{ width: 70px;  height: 22px; margin: 0 5px; }

/* PopUp */
#jump_to_address{ clear: both; padding: 40px 0 0; line-height: 22px; height: 22px; }
#jump_to_address input[type=submit]{ background: url(../img/button_icons/set-loc.png) no-repeat; width: 24px; height: 20px; border: none; margin: 1px 2px 0 0; vertical-align: middle; }
#jump_to_address input[type=text]{ height: 16px; border-radius: 5px; border: 1px solid #ccc; width: 125px; padding: 2px 5px; }

#costume_settings_show{  }
#costume_settings_show table{ width: 100%; }
#costume_settings_show table td{ padding: 5px; vertical-align: top; font-size: 10px; line-height: normal; }
#costume_settings_show table th{ padding: 10px 5px; vertical-align: top; }
#costume_settings_show label{ font-size: 18px; font-weight: bold; display: block; }



#set_location_form input{
	/*display: none;*/
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	width: 150px;
	position: absolute;
	right: -95px;
	bottom: -30px;
	font-size: 10px;
	background: #fff;
	border: 2px solid #000;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	box-shadow: #333 4px 3px 8px 0;
	-webkit-box-shadow: #333 4px 3px 8px 0;
	-moz-box-shadow: #333 4px 3px 8px 0;
}

	/*position: absolute; left: 50%; top: 0; margin-left: -73px; z-index: 110; top: 80px; }*/

/* TimeLine */
#timeline{ position: relative; -moz-user-select: none; -webkit-user-select: none; user-select: none; cursor: arrow; overflow: hidden; height: 500px; }

#center_time_line{
	position: absolute;
	width: 57px;
	height: 50px;
	padding: 3px 0 0;
	top: 0;
	left: 50%;
	z-index: 100;
	background: #494949;
	margin-left: -30px;
	font: bold 10px/1.4em Arial;
	color: #fff;
	text-align: center;
}

#timeline .item{ float: left; position: relative; background-color: #f3f3e9; }
#timeline .item .events{ position:relative; border-left: 1px solid #ccc; }


#timeline .item .events .claster {
	position: absolute;
	/*cursor: pointer; */
	/*width: 30px; */
	/*height :25px; */
	/*border: 1px solid #000; */
	/*background: #fff; */
	/*text-align: center; */
	font-size: 10px;
	bottom: 5px;
	padding: 3px 5px;
}
#timeline .item .events .claster:hover{ z-index: 10 }
#timeline .item > .date{ height: 25px; line-height: 25px; background-color: #ddd; border-right: 1px solid #8a8a8a; padding-left: 5px; text-align: center; font-size: 14px; }
#timeline .item > .subitems{ height: 25px; }

#timeline .si { width: 34px; height: 25px; float: left; font-size: 10px; border-right: solid 1px #ccc; color: #aaa; padding-left: 5px; }


/* Map */
#right-block #map{ height: 450px; z-index: 101; margin-top: 13px; }

.map-event { font-size: 12px; }
.map-event img { float: left; }
.map-event div.text { float: left; padding-left: 5px; width: 130px; }


#timeline .item .events .event{
	width: 36px;
	height: 41px;
	cursor: pointer;
	position: absolute;
	background-repeat: no-repeat;
	margin-top: 20px;
}
#timeline .item .events .event .desc{
	display: none;
}
.block{
	background: url(../images/event-bg.png) no-repeat; /* 212 69 */
	/*width: 139px;*/
	width: 212px;
	cursor: default;
	/*height: 58px;*/
	height: 69px;
	/*padding: 3px 70px 8px 3px;*/
	position: relative;
	z-index: 2;
	display: none;
	overflow: hidden;
}
.block .block_close{ width: 15px; height: 15px; top: 3px; right: 1px; position: absolute; display: block; background: url(../img/popup/close.png) no-repeat; }
.block .title{
	font-size: 10px;
	padding: 3px 10px 0px 8px;
	height: 55px;
	overflow: hidden;
}
.block p.date{ font-size: 10px; position: absolute; bottom: 11px; padding: 4px 15px 2px 4px; left: 4px; background: #fff; }
/*.block img{ position: absolute; top: 5px; right: 15px; width: 55px; height: 50px; }*/
.block img{ margin: 1px 5px 2px 2px; }/*  width: 55px; height: 50px; */
.block p{ padding: 0px; }

.block:hover,
#map .infoBox:hover,
#timeline .item .events .event:hover .block{
	z-index: 3 !important;
}
#timeline .item .events .event .block{
	margin-left: 32px;
}
#map.close_info_box .infoBox{
  display: none;
}

.ui-autocomplete {
	max-height: 200px;
	width: 230px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	z-index: 10000 !important;
}
* html .ui-autocomplete {
	width: 250px;
}

/* GRID */
#grid_mode_new{ position: relative; z-index: 101; width: 100% !important; background: #fff; overflow-y: scroll; font-size: 12px; } /* overflow-y: hidden; */
#grid_mode_new a{ color: #0000ff; }
#grid_mode_new table{ width: 100% !important; }
#grid_mode_new table th{ color: #fff; padding: 5px; text-align: left; vertical-align: top; font-weight: normal; font-size: 14px; }
#grid_mode_new table td{ border: 1px solid #000; padding: 4px;  vertical-align: top; }
#grid_mode_new table td.image{ width: 100px; text-align: center; vertical-align: middle; }
#grid_mode_new table td.image img{ width: 60%; }

.dataTables_info{ float: none !important;}
#grid_mode_new .top{ padding: 15px 10px 5px; }
#grid_mode_new .bottom{ padding: 5px 10px 5px; }
#grid_mode_new .dataTables_info{ padding: 0 0 3px; float: right !important; clear: both; width: auto; }
#grid_mode_new .dataTables_length{ padding: 0 0 3px; float: right !important; clear: both; width: auto; }
#grid_mode_new .dataTables_paginate{ float: right !important; clear: both; width: auto; }

/* Multimedia */
#right-block #multimedia{ height: 450px; z-index: 111; margin-top: 15px; width: 100% !important; background: #000; }
#multimedia .multimedia-menu{ padding: 10px 0 0 30px }
#multimedia .multimedia-menu li{ float: left; margin: 0 3px 10px; }
#multimedia .multimedia-close{display: block; width: 24px; height: 24px; margin: 2px 8px 0; background: url(../images/close-slideshow.png) no-repeat;}

#multimedia .multimedia-content{ clear: both; background: #fff; width: 100%; height: 100%; }
#multimedia .multimedia-content .multimedia-page{ width: 100%; height: 100%; }
#multimedia{}
#multimedia{}
/*#multimedia{ position: relative; z-index: 110;  margin-top: 15px; width: 100% !important; background: #000; overflow-y: scroll; font-size: 12px; height: 100%; } *//* overflow-y: hidden; */

/* Advanced Plugin Setting */
.AnyTime-pkr .AnyTime-btn{ color: #fff !important; }
.AnyTime-pkr .AnyTime-cur-btn{ color: #000 !important; }

#sidebar_help{

}
#sidebar_help .ui-accordion-content{
  padding: 2px;
}

#slideshow_wrapper{ opacity: 0.8; background: #000; width: 100%; height: 100%; z-index: 100000000; position: absolute; }
#multimedia-sponsors div.fl{ margin: 5px; }
.multimedia-content .gsc-tabsArea,
#no-search-form{ display: none; }

/*
Status Box
*/
.multi_active{ display: none; width: 1px; height: 1px; }


.new_filter{ width: 100%;}
.new_filter dl{}
.new_filter dl.close dd{ display: none; }
.new_filter dl dt{ margin: 0; font-size: 16px; }
.new_filter dl dt a{ display: block; background: #0b9bbc url(./custom-theme/images/ui-bg_highlight-hard_60_0b9bbc_1x100.png) 50% 50% repeat-x; border: 1px solid #0b9bbc; color: #000000; padding: 10px; }
.new_filter dl dt span{ font-size: 11px; font-weight: bold; margin-left: 0; }
.new_filter dl dd{ margin: 0; padding: 5px 0; width: 100%; }

.new_filter dl #categories_list_box{ height: 150px; overflow: hidden; position: relative; width: 100%; clear: both; margin: 5px 0; }
.new_filter dl #categories_list_box ul{ list-style: none; position: absolute; top: 0; left: 0; }
.new_filter dl #categories_list_box .categories_list_wrapper{ position: absolute; top: 0; left: 0; }
.new_filter dl #categories_list_box .categories_list_wrapper{  }
.new_filter dl #categories_list_box ul a{ display: block; height: 30px; line-height: 30px; vertical-align: middle; font-size: 12px; position: relative; border: 1px solid #000; background: #1C1C1C url(./custom-theme/images/ui-bg_highlight-hard_60_1c1c1c_1x100.png) repeat-x 50% 50%; width: 100%; }
.new_filter dl #categories_list_box ul a em{ display:block; right: 5px; top: 0; position: absolute; background: url(/img/left-sidebar/arrow-sub-cat.png) no-repeat left center; width: 11px; height: 30px; }
.new_filter dl #categories_list_box ul a:hover em,
.new_filter dl #categories_list_box ul a.act em{ background: url(/img/left-sidebar/arrow-sub-cat.png) no-repeat right center; width: 12px; height: 30px; }
.new_filter dl #categories_list_box ul a img{ vertical-align: middle; height: 25px; margin: 0 5px; cursor: pointer; }
.new_filter dl #categories_list_box ul a.act, .new_filter dl #categories_list_box ul a:hover{  background: #04d20f url(./custom-theme/images/ui-bg_highlight-hard_60_04d20f_1x100.png) 50% 50% repeat-x; color: #000000; }
/*.new_filter dl #categories_list_box ul a.act{ background: #04d20f url(./custom-theme/images/ui-bg_highlight-hard_60_0b9bbc_1x100.png) 50% 50% repeat-x; color: #000000; }*/
.new_filter dl #categories_list_box ul a input{ visibility: hidden; width: 1px; height: 1px; position: absolute; left: -1px; top: -1px; }
.new_filter dl #categories_list_box ul a span{ display: none; float: right; background: #ccc; color: #1c1c1c; padding: 3px 5px; border-radius: 5px; margin: 5px 25px 0 0; line-height: normal; font-size: 10px; }
.new_filter dl #categories_list_box ul a.act span{ display: block }
.new_filter dl #categories_list_box ul a:hover span,
.new_filter dl #categories_list_box ul a.act span{ background: #1c1c1c; color: #ccc; }
.new_filter input.text-bf{ width: 240px; padding: 0 5px; height: 21px; line-height: 21px; border: 0; background: url(../img/left-sidebar/search-bar-mini.png) no-repeat; margin: 0 0 5px; color: #8f8f8f; font-style: italic; }
.new_filter textarea.textarea-bf { width: 240px; padding: 5px; height: 81px; border: 0; background: url(../img/left-sidebar/search-bar-text.png) no-repeat; margin: 0 0 5px; color: #8f8f8f; font-style: italic; }
#sidebar_filter .clear_button{ color: #f00; font-size: 14px; }

.my_scroll{ display: block; width: 111px; height: 20px; background: url(../img/left-sidebar/scroll-arrow.png) no-repeat top left; font-size: 1px; margin: 10px auto; }
#category_scroll_down{ background-position: center bottom; }
#category_scroll_up{ background-position: center top; }
#category_scroll_down:hover{ background-position: right bottom; }
#category_scroll_up:hover{ background-position: right top; }


.back_button { background: url(../img/left-sidebar/back.png); width: 81px; height: 29px; line-height: 29px; color: #000; text-align: center; display: block; }
.new_filter dl .back_button{ display: none; }

#event_preview{ display: none; }
#event_preview dl dt{ margin: 0; font-size: 16px; }
#event_preview dl dt a{ display: block; background: #0b9bbc url(./custom-theme/images/ui-bg_highlight-hard_60_0b9bbc_1x100.png) 50% 50% repeat-x; border: 1px solid #0b9bbc; color: #000000; padding: 10px; }
#event_preview dl dt span{ font-size: 12px; margin-left: 10px; }
#event_preview dl dd{ margin: 5px 0; padding: 5px; background: #fff; color: #000; }
#event_preview dl dd a{ color: #000; }
#event_preview dl dd a:hover{ color: #000; text-decoration: underline; }
.subsub{display: none;}
/*
*/
.tzCheckBox{
	background:url('/img/content/check-box.png') no-repeat right bottom;
	display:inline-block;
	min-width:60px;
	height:33px;
	white-space:nowrap;
	position:relative;
	cursor:pointer;
	margin-left:14px;
}

.tzCheckBox.checked{
	background-position:top left;
	margin:0 14px 0 0;
}

.tzCheckBox .tzCBContent{
	color: white;
	line-height: 31px;
	padding-right: 38px;
	text-align: right;
}

.tzCheckBox.checked .tzCBContent{
	text-align:left;
	padding:0 0 0 38px;
}

.tzCBPart{
	background:url('/img/content/check-box.png') no-repeat left bottom;
	width:14px;
	position:absolute;
	top:0;
	left:-14px;
	height:33px;
	overflow: hidden;
}

.tzCheckBox.checked .tzCBPart{
	background-position:top right;
	left:auto;
	right:-14px;
}
/* Fix */
.AnyTime-win.AnyTime-yr-selector.ui-widget.ui-widget-content.ui-corner-all{
	top: 47px !important;
	left: 41px !important;
}