<?php
require_once SITE_DIR . 'server/Category.php';
$oCategory = new Category();

$custom = isset($_REQUEST['custom_param']) ? $_REQUEST['custom_param'] : 'filter';
$bIssetCookie = false;

$aFilter = array(
	'title' =>'Title',
	'desc' => 'Description',
	'cat_filter' => array(), // 77, 88, 67
	'tag_filter' => array()
);

$select_cat = '';
$bDefaultActive = 1;
if (isset($_COOKIE['GLOBAL_FILTER'])) {
	$aFilter['cat_filter'] = array();
	parse_str($_COOKIE['GLOBAL_FILTER'], $filter);

	if (isset($filter['Title']) && $filter['Title'] != 'Title' && $filter['Title'] != 'Search') {
		$aFilter['title'] =  $filter['Title'];
		$bDefaultActive = 0;
	}
	if (isset($filter['desc']) && $filter['desc'] != 'Description') {
		$aFilter['desc'] =  $filter['desc'];
		$bDefaultActive = 0;
	}

	if (isset($filter['tag_filter']) && count($filter['tag_filter'])) {
		$aFilter['tag_filter'] = $filter['tag_filter'];
		$bDefaultActive = 0;
	}

	if (isset($filter['cat_filter']) && count($filter['cat_filter'])) {
		$aFilter['cat_filter'] = $filter['cat_filter'];
		$bIssetCookie = true;
		$bDefaultActive = 0;
	}
}
if ($bDefaultActive)
	$aFilter['cat_filter'] = $oCategory->aDefaultCat;
?>
<script type="text/javascript">
//<![CDATA[
	$(document).ready(function () {

		$('#sidebar_filter').submit(function () {
			var params = $('#sidebar_filter').serialize();
			var title_search = $('#title_filter').val();
			if (title_search == def_title_filter_val)
				title_search = '';
			var decoded = $("<div/>").html(title_search).text();
			$('#search_term').val(decoded);

			setCookie('GLOBAL_FILTER', params, COOKIE_LIFE, '/');
			App.updateEventByFilter();

			App.collection.at(1).loadFilterEvent('fr');
			App.collection.at(Math.floor(COLLECTION_LENGTH / 2)).loadFilterEvent('fd');

			$('#result_cat_filters a.no-cookie').parent().remove();

			$('#a_result_tabss').click();
			return false;
		});

// Text Filter Block
		$('#title_filter').focus(function () {
			if ($(this).val() == def_title_filter_val)
				$(this).val('');
		});
		$('#title_filter').blur(function () {
			if ($(this).val() == '')
				$(this).val(def_title_filter_val);
		});

		$('#desc_filter').focus(function () {
			if ($(this).val() == def_desc_filter_val)
				$(this).val('');
		});
		$('#desc_filter').blur(function () {
			if ($(this).val() == '')
				$(this).val(def_desc_filter_val);
		});


// Category Filter Block
		$('#cat_filters').change(function () {
			var cat_id = Number($(this).val());
			$('#subcat_filters_2').addClass('hidden');

			$('#subcat_filters option').remove();
			$('#subcat_filters_2  option').remove();

			if (cat_id)
				$('#subcat_filters').load('server/open-sidebar.php', {'sidebar': 'sub-cat-list', 'cat_id': cat_id});
			else
				$('#subcat_filters').append('<option value="0">Subcategory</option>');
		});

		$('#subcat_filters').change(function () {
			var cat_id = Number($(this).val());
			var sub_cat_ob = $('#subcat_filters_2');

			sub_cat_ob.addClass('hidden');
			sub_cat_ob.find('option').remove();

			if (cat_id) {
				sub_cat_ob.load('server/open-sidebar.php', {'sidebar': 'sub-cat-list', 'sub': true, 'cat_id': cat_id}, function () {
					if (sub_cat_ob.find('option').length)
						sub_cat_ob.removeClass('hidden');
				});

			}
		});

		$('#add_cat_filter').click(function () {
			var cat_id = Number($('#cat_filters').val());
			if (! cat_id)
				return false;

			var text_filter = $('#cat_filters option:selected').html();
			var type_filter = 'cat_filter';
			var clone = false;

			$('#result_cat_filters a.no-cookie').parent().remove();

			var sub_cat_id = Number($('#subcat_filters').val());

			if (sub_cat_id) {
				cat_id = sub_cat_id;
				text_filter += ' > ' + $('#subcat_filters option:selected').html();

				sub_cat_id = Number($('#subcat_filters_2').val());

				if (sub_cat_id) {
					cat_id = sub_cat_id;
					text_filter += ' > ' + $('#subcat_filters_2 option:selected').html();
				}
			}

			$('#result_cat_filters input').each(function () {
				if ($(this).val() == cat_id) {
					clone = true;
					return false;
				}
			});

			if (! clone)
				$('#result_cat_filters').append('<label><a class="filter-remove"></a><input type="hidden" name="' + type_filter + '[]" value="' + cat_id + '" /> ' + text_filter + '</label>');

		});


// Clear All Filter
//		$('#clear-all-filter').click(function () {
//			$('#title_filter').val(def_title_filter_val);
//			$('#desc_filter').val(def_desc_filter_val);
//			$('#result_cat_filters label').remove();
//			$('#result_tags_filters label').remove();
//
//			setCookie('GLOBAL_FILTER', '', 0, '/');
//
//			App.updateEventByFilter();
//
////			update_categories_use();
//			return false;
//		});

		$("#sidebar_filter .filters .filters-params").accordion({
			autoHeight: false,
			navigation: true
		});
		$('#add_tag_filter, #add_cat_filter').button();
//		$('#apply-fr, #add_tag_filter, #add_cat_filter').button();



		$( "#sidebar_filter" ).tabs();

		$('#a_display_tabss').click(function () {
			ClickResultTabs ();
		});
		$('#a_result_tabss').click(function () {
			ClickResultTabs ();
			if (! $('#grid_fr tbody tr').length) {
				OptionsInterface.set({'activeFilter': true});
				App.collection.at(0).loadFilterEvent('fr');
			}
		});
		$('#a_filter_tabss').click(function () {
			OptionsInterface.set({'activeFilter': false});
		});

<?php if ($custom == 'search') : ?>
		ClickResultTabs ();
<?php endif; ?>
		$('#a_<?php echo $custom;?>_tabss').click();
//		$('#a_display_tabss').click();


	});

function OpenEvent (id) {
	Interface.getEventByID(id);
//	Interface.getContentForSidebar({
//		sidebar: 'events-description',
//		custom_param: id,
//		size: 300
//	});
}
function ClickResultTabs () {
	if (! OptionsInterface.get('activeFilter')) {
		OptionsInterface.set({'activeFilter': true});
		App.collection.at(1).loadFilterEvent('fr');
		App.collection.at(Math.floor(COLLECTION_LENGTH / 2)).loadFilterEvent('fd');
	}
}
//]]>
</script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#tag_filter").focus(function () { $('#filter-res-block').show(); $(this).parents('.filters-param').css('overflow', 'visible'); });

		$("#tag_filter").keyup(function () {
			$('#filter-res-block').html();

			if ($(this).val().length < 1)
				return false;

			$('#filter-res-block .filter-res-status').html('Searching...');

			$.get('server/open-sidebar.php', {
				'sidebar': 'tag-list',
				'tag': $(this).val()
			}, function (resp) {
				if (resp && resp.length) {
					$('#filter-res-block .filter-result').html('');
					var i = 0;
					AUTOCOMPLETE_ARR = Array();
					for (id in resp) {
						if (i > 10) {
							AUTOCOMPLETE_ARR[id] = resp[id];
							$('#filter-res-block .filter-res-more').show();
						} else {
							$('#filter-res-block .filter-result').append('<li>' + resp[id].tag + '</li>');
							$('#filter-res-block .filter-res-more').hide();
						}
						i++;
					}
					$('#filter-res-block .filter-res-status').html('');


				} else {
					$('#filter-res-block .filter-res-status').html('No suggested matches');
					$('#filter-res-block .filter-result').html('');
					AUTOCOMPLETE_ARR = Array();
				}
			}, 'json');

		});

		$('#filter-res-block .filter-res-more').click(function () {
			$('#tag_filter').focus();
			var arr = AUTOCOMPLETE_ARR;
			AUTOCOMPLETE_ARR = Array();
			var i = 0;
			for (id in arr) {
				if (i > 10) {
					AUTOCOMPLETE_ARR[id] = arr[id];
					$('#filter-res-block .filter-res-more').show();
				} else {
					$('#filter-res-block .filter-result').append('<li>' + arr[id].tag + '</li>');
					$('#filter-res-block .filter-res-more').hide();
				}
				i++;
			}

		});

		$(window).click(function (el) {
			if ($(el.target).attr('id') == 'tag_filter' || $(el.target).parents('div#filter-res-block').length) {
				$('#filter-res-block').show();
				$(this).parents('.filters-param').css('overflow', 'visible');
			} else {
				$('#filter-res-block').hide();
				$(this).parents('.filters-param').css('overflow', 'auto');
			}
		});

		$('#filter-res-block .filter-result li').live('click', function () {
			$('#filter-res-block').hide();

			$('#tag_filter').val($(this).html());
			$(this).addClass('active');

			var tag = $(this).html();

			if (! tag)
				return false;

			var clone = false;

			$('#result_tags_filters input').each(function () {
				if ($(this).val() == tag) {
					clone = true;
					return false;
				}
			});
			if (! clone)
				$('#result_tags_filters').append('<label><a class="filter-remove"></a><input type="hidden" name="tag_filter[]" value="' + tag + '" /> ' + tag + '</label>');

			return false;
		});

	});
</script>

<form id="sidebar_filter" action="" method="post">
	<ul id="it_tabs">
		<li><a id="a_result_tabss" id="all_res" href="#result_tabss">All Results</a></li>
		<li><a id="a_display_tabss" href="#display_tabss">On Display</a></li>
		<li><a id="a_filter_tabss" href="#filter_tabss">Filters</a></li>
	</ul>

	<div id="result_tabss"><table id="grid_fr"><thead><tr></tr></thead><tbody></tbody></table></div>

	<div id="display_tabss"><table id="grid_fd"><thead><tr></tr></thead><tbody></tbody></table></div>

	<div id="filter_tabss" class="filters">
		<br />
		<div class="new_filter">
			<script type="text/javascript">
				$(document).ready(function () {
					$('#filter_tabss dl.close dt a').live('click', function () {
						var speed = 'fast';
						var parent = $(this).parents('dl');
						$('#filter_tabss dl.open dd').slideUp(speed, function () {
							$(this).parent().removeClass('open').addClass('close');
						});
						parent.find('dd').slideDown(speed, function () {
							parent.removeClass('close').addClass('open');
						});
						return false;
					});

					$('#categories_list_box').catList();
//					$('#default-filter').click(function () { return filter_clear_all('', 0); });
//					$('#clear-all-filter').click(function () { return filter_clear_all('clear=all', COOKIE_LIFE); });

					$('#apply-fr').click(function () {});
				});
			</script>
			<dl class="open">
				<dt><a href="#">Category<span id="cat_history"></span></a></dt>
				<dd>
					<div style="width: 250px; margin: 10px auto;">
						<div id="categories_use"><?php
//							$cats = $oCategory->getParentCatsByIDs($aFilter['cat_filter']);

							$cat_filter = $aFilter['cat_filter'];
							for ($i = 0; $i < count($cat_filter); $i++) {
								$iID = $cat_filter[$i];

								if (isset($oCategory->aCatList[$iID])) {
									$act_cat = $oCategory->aCatList[$iID];
//									$pid = $act_cat['parent'];
									$count = '';
//									if ($pid == $iID && isset($oCategory->aGroupCat[$iID])) {
//										$count = $oCategory->aGroupCat[$iID]['count'];
//									} else if (isset($oCategory->aGroupCat[$pid]['sub_cat'][$iID])) {
//										$ar
////										$count = 0;
//									} else {
//										$count++;
//									}
//									if ($count)
//										$count = ' data-count="' . $count . '"';

									echo '<input type="hidden" data-pid="' . $act_cat['parent'] . '"' . $count . ' class="cid_' . $iID . ' pid_' . $act_cat['parent'] . '" name="cat_filter[]" value="' . $iID . '" />';
								}
							}
						?></div>

						<a href="javascript:void(0);" id="cat_bakc_button" class="back_button fl">Back</a>
						<a href="javascript:void(0);" id="CategorySelected" class="button_icon fr">Categories Selected</a>
						<div class="clear"></div>
						<a href="#" class="my_scroll" class="button_icon" id="category_scroll_up">Up</a>
						<div id="categories_list_box">
							<div class="categories_list_wrapper">
								<div style="position: relative;">
									<ul id="ul_cat_list" class="active"><?php
									foreach($oCategory->aGroupCat as $key => $val) :
										$count = $oCategory->findCat($key, $aFilter['cat_filter']);
										?><li><a id="cid_<?=$key;?>" href="#" data-id="<?=$key;?>;<?=$key;?>"><span data-max="<?=$val['count'];?>"><?=$count ? $count : 0;?></span><img alt="<?=$val['name'];?>" title="Select All/Unselect" src="/time_icons/<?=$val['icon']?>" /><?=$val['name'];?><em></em></a></li><?php
									endforeach;
									?></ul>
									<ul id="ul_s_cat_list"></ul>
									<ul id="ul_ss_cat_list"></ul>
								</div>
							</div>
						</div>
						<a href="#" class="my_scroll" id="category_scroll_down">Down</a>
					</div>
				</dd>
			</dl>
			<dl class="close">
				<dt><a href="#">Tags</a></dt>
				<dd>
					<div style="width: 250px; margin: 10px auto;">
						<div class="filter-input-box">
							<input type="text" class="text-bf" autocomplete="off" id="tag_filter" />
							<div id="filter-res-block">
								<p class="filter-res-status">Start typing to get suggestions...</p>
								<ul class="filter-result"></ul>
								<a class="filter-res-more" href="javascript:void(0);">more</a>
							</div>
						</div>
						<p class="result_filter" id="result_tags_filters">
							<span>Tags selected:</span>
							<?php foreach ($aFilter['tag_filter'] as $val) { echo '<label><a class="filter-remove"></a><input type="hidden" name="tag_filter[]" value="' . $val . '" /> ' . $val . '</label>'; } ?>
						</p>
						<div class="clear"></div>
					</div>
				</dd>
			</dl>
			<dl class="close">
				<dt><a href="#">Text</a></dt>
				<dd>
					<div style="width: 250px; margin: 10px auto;">
						<input type="text" class="text-bf" name="Title" id="title_filter" value="<?php echo $aFilter['title']; ?>" /><br />
						<textarea class="textarea-bf" name="desc" id="desc_filter" rows="2" cols="2"><?php echo $aFilter['desc']; ?></textarea>
					</div>
				</dd>
			</dl>
		</div>

		<div class="filter-submit tc">
			<a id="default-filter" class="clear_button fl" href="#">Default filter</a>
			<input id="apply-fr" class="button_icon fr" type="submit" value="Apply" />
			<a id="clear-all-filter" class="clear_button" href="#">Clear All</a>
			<div class="clear"></div>
		</div>
	</div>

</form>
<!-- Event Preview -->
<script type="text/javascript">
	$(document).ready(function () {
		$('#back_to_filter').click(function () {
			$('#event_preview').hide();
			$('#sidebar_filter').show();
		});
		$('#event-multimedia').click(function () {
			Interface.EventsButtonGenerate('multi');
			if ($(this).find('.multi_active').length)
				return true;
			else
				$(this).append('<div class="multi_active"></div>');

			Interface.updateMultimediaBox($('#ep_title a').html());

			return false;
		});
	});
</script>
<div id="event_preview">
	<a id="back_to_filter" href="javascript:void(0);" class="back_button">Back</a>
	<h3 id="ep_title" class="lf-title"></h3>
	<dl>
		<dt><a>Info</a></dt>
		<dd>
			<p><strong>Description: </strong><span id="ep_desc"></span></p>
			<br />
			<span id="ep_img"></span>
			<br />
			<p><strong>Date type: </strong><span id="ep_dataType"></span></p>
			<p><strong>Date Start: </strong><span id="ep_dateStart"></span></p>
			<p><strong>Date End: </strong><span id="ep_dateEnd"></span></p>
			<p><strong>Place Start:</strong><span id="ep_placeStart"></span></p>
			<p><strong>Place End:</strong><span id="ep_placeEnd"></span></p>
			<br />
			<br />
			<p><strong>Category:</strong><span id="ep_category"></span></p>
			<p><strong>Subcategory:</strong><span id="ep_subCategory"></span></p>
			<p><strong>Subcategory2:</strong><span id="ep_subCategory2"></span></p>
			<p><strong>Tags:</strong><span id="ep_tags"></span></p>
			<p><strong>Source:</strong><span id="ep_source"></span></p>
		</dd>
	</dl>

	<dl>
		<dt><a>Multimedia</a></dt>
		<dd>
			<div id="event-multimedia">
				<div class="accordion-content">
					<img class="fl" />
					<ul>
						<li>Web</li>
						<li>Video</li>
						<li>Images</li>
						<li>Links</li>
						<li>Sponsor</li>
					</ul>
					<input id="mm_web_input" type="hidden" name="web" value="" />
					<input id="mm_video_input" type="hidden" name="video" value="" />
				</div>
			</div>
		</dd>
	</dl>
</div><!-- Event Preview -->