<?php

$start = 0;
$limit = 100;
$query = "SELECT timeline_2012.titulo
     , timeline_2012.descripcion
     , timeline_2012.imagen
     , timeline_2012.f_inicio
     , timeline_2012.f_fin
     , timeline_2012.h_fin
     , timeline_2012.h_inicio
     , timeline_2012.f_tipo
     , timeline_2012.etiquetas
     , timeline_2012.lugar
     , timeline_2012.lugar2
     , icons.category
     , icons.subcategory
     , icons.subcategory2
     , timeline_2012.fk_user
     , timeline_2012.link_video
     , timeline_2012.link_wiki
     , timeline_2012.link
FROM
  timeline_2012
  LEFT JOIN icons ON timeline_2012.category_id = icons.id
LIMIT " . $start . ", " . $limit;

$res = mysql_query($query);
if (! mysql_num_rows($res))
	exit;

?>
<script type="text/javascript">
	$(document).ready(function () {
//		$('#grid_mode_table').dataTable();
		var t = $('#grid_mode_table').dataTable( {
			"aoColumnDefs": [
				{ "bSortable": false, "aTargets": [ 0,7 ] }
			],
			"aaSorting": [[ 3, "desc" ]],
			"sDom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
			"bJQueryUI": true
		} );

	});
</script>
<div >
<table id="grid_mode_table" cellpadding="0" cellspacing="0">
<thead>
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Description</th>
		<th>Date<br /> Time</th>
		<th>Place</th>
		<th>Category<br />[Subcategory]</th>
		<th>Tags</th>
		<th>Links</th>
	</tr>
</thead>
<tbody>
<?php while ($row = mysql_fetch_assoc($res)) : ?>
	<tr>
		<td class="image"><img alt="<?php echo $row['titulo']; ?>" src="<?php echo $row['imagen']; ?>" /></td>
		<td><?php echo htmlentities ($row['titulo'], ENT_COMPAT, 'UTF-8'); ?></td>
		<td><?php echo htmlentities($row['descripcion'], ENT_COMPAT, 'UTF-8'); ?></td>
		<td><?php echo $row['f_inicio'] . '<br />' . $row['h_inicio']; ?></td>
		<td><?php echo $row['lugar']; ?></td>
		<td><?php echo $row['category'] . '<br />' . $row['subcategory'] . '<br />' . $row['subcategory2']; ?></td>
		<td><?php echo $row['etiquetas']; ?></td>
		<td><a href="<?php echo $row['link']; ?>" target="_blank"><?php echo $row['titulo']; ?></a></td>
	</tr>
<?php endwhile; ?>
</tbody>
</table>
</div>
<?php
/*



  */