<?php
require_once ('server/config.php');

$slideshow = isset($_COOKIE[SLIDESHOW_COOKIE]) ? true : false;


$left_sidebar = array(
	'active' => true,
	'file' => 'filter',
	'width' => 300
);

$arr_pages_settings = array(
	'line' => array(
		'button' => array(
			'bubble' => 'Bubble'
		),
		'name' => 'Line',
		'key' => 'line'
	),
	'space' => array(
		'button' => array(
			'bubble' => 'Bubble'
		),
		'name' => 'Map',
		'key' => 'space'
	),
	'grid' => array(
		'name' => 'List',
		'key' => 'grid'
	)
);


$active_page = array(
	'button' => array('bubble' => false),
	'page' => $arr_pages_settings['space']
);

$active_time = 'day';
?><!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link type="text/css" href="./css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet"/>
<!--<link type="text/css" href="./css/custom-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet"/>-->
<link type="text/css" href="./css/style.css" media="screen" rel="stylesheet"/>
<link type="text/css" href="./css/anytime.c.css" media="screen" rel="stylesheet"/>

<script type="text/javascript" src="./js/default.js"></script>

<script type="text/javascript" src="./js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="./js/anytime.c.js"></script>
<script type="text/javascript" src="./js/underscore.js"></script>
<script type="text/javascript" src="./js/backbone.js"></script>
<style type="text/css" title="currentStyle">
	@import "./plugin/DataTables-1.9.0/css/demo_page.css";
	@import "./plugin/DataTables-1.9.0/css/demo_table.css";
</style>
<script type="text/javascript" src="./plugin/DataTables-1.9.0/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="./js/jquery-ui-1.9.2.custom.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">

</script>
<script type="text/javascript" src="./js/infobox.js"></script>
<script type="text/javascript" src="./js/markerclusterer.js"></script>


<script type="text/javascript" src="./js/interface.js"></script>
<script type="text/javascript" src="./js/day.js"></script>

<script type="text/javascript" src="./js/event.js"></script>
<script type="text/javascript" src="./js/timeline.js"></script>
<script type="text/javascript" src="./js/period.js"></script>
<script type="text/javascript" src="./js/map.js"></script>
<script type="text/javascript" src="./js/app.js"></script>


<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
google.load('search', '1.0');
var webSearchControl;
var videoSearchControl;
var imgSearchControl;
var drawOptions;
function OnLoad() {
	webSearchControl = new google.search.SearchControl(null);
	videoSearchControl = new google.search.SearchControl(null);
	imgSearchControl = new google.search.SearchControl(null);

	drawOptions = new google.search.DrawOptions();
	drawOptions.setSearchFormRoot(document.getElementById("no-search-form"));
	drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_TABBED);
}
google.setOnLoadCallback(OnLoad);


window.OptionsInterface = Backbone.Model.extend({
	defaults:function () {
		return {
			timeRollerHeightD:50,
			timeRollerHeight:0,
			controlPanelHeight:13,
			topMenuHeight:0,

			leftSidebarWidth: <?=$left_sidebar['width'];?>,
			LeftSidebar:{ sidebar:'<?=$left_sidebar['file'];?>', custom_param:'<?=$left_sidebar['file'];?>', size: <?=$left_sidebar['width'];?> },

			activeWindow:'<?=$active_page['page']['key'];?>',

			mainPageButton:{'space':{'bubble':'Bubble'}, 'line':{/*1:'Compact',*/ 'bubble':'Bubble'/*, 3:'Line'*/}, 'grid':''},
			activeShowBubbles: false, //{<?=(isset($active_page['button']['bubble']) && $active_page['button']['bubble']) ? 'bubble:true' : '';?>},
			activeFilter: true
		}
	},
	initialize:function () {}
});

$(document).ready(function () {
// Map onLoad!!!
	window.map = new TimelineMap();
	window.OptionsInterface = new OptionsInterface();
	OptionsInterface.set({ 'controlPanelHeight': $('.timeline_settings').parent().height() });
});


$(window).load(function () {
	window.Interface = new Interface();
// TimeLine position
	$('#scrollRight').mousedown(function () {
		$('#timeline').css('left', $('#timeline').position().left - 10);
	});

// Change Interface
	$("#type_bubbles input, .search_button input, .zoom-button, .multimedia-button").button();
	$("a", "#feedback_help_link").button();

	var select = $("#current-period");
	var slider = $("#trackbar").slider({
		min:1,
		max:6,
		range:"min",
		value:select[0].selectedIndex + 1,
		slide:function (event, ui) {
			select[ 0 ].selectedIndex = ui.value - 1;
			select.change();
			add_name_period(slider);
		}
	});
	add_name_period(slider);
	select.change(function () {
		slider.slider("value", this.selectedIndex + 1);
		add_name_period(slider);
	});

	// search Current dropDown
	var search_type = $('#type_search').val();
	if (!search_type || !$('#search_type_dropdown li[title=' + search_type + ']').length) {
		search_type = 'All';
		$('#type_search').val(search_type)
	}
	var this_el = $('#search_type_dropdown li[title=' + search_type + ']');
	Interface.searchDropDown(this_el);

	// Interface dropDown for find in Header
	$("#search_term").focus(function () {
		if ($('#type_search').val() == 'Title' || $('#type_search').val() == 'All') return false;
		$('#search-res-block').show();
	});

	$("#search_term").keyup(function () {
		$('#search-res-block').html();
		if ($(this).val().length < 1)
			return false;

		var prev_search = '';
		var type = $('#type_search').val();
		switch (type) {
			case 'Category' :
				break;
			case 'Tag' :
				break;
			case 'Timeline' :
				type = 'tag';
				prev_search = 'Timeline of ';
				break;
			default:
				type = false;
				return false;
		}

		$('#search-res-block .search-res-status').html('Searching...');

		$.get('server/open-sidebar.php', {
			'sidebar':type.toLowerCase() + '-list',
			'tag':prev_search + $(this).val()
		}, function (resp) {
			if (resp && resp.length) {
				$('#search-res-block .search-result').html('');
				var i = 0;
				AUTOCOMPLETE_ARR = Array();
				for (var id in resp) {
					if (i > 10) {
						AUTOCOMPLETE_ARR[id] = resp[id];
						$('.search-res-more').show();
					} else {
						$('#search-res-block .search-result').append('<li>' + resp[id].tag + '</li>');
						$('.search-res-more').hide();
					}
					i++;
				}
				$('#search-res-block .search-res-status').html('');


			} else {
				$('#search-res-block .search-res-status').html('No suggested matches');
				$('#search-res-block .search-result').html('');
				AUTOCOMPLETE_ARR = Array();
			}
		}, 'json');


	});

	$('#search-res-block .search-res-more').click(function () {
		$('#search_term').focus();
		var arr = AUTOCOMPLETE_ARR;
		AUTOCOMPLETE_ARR = Array();
		var i = 0;
		for (id in arr) {
			if (i > 10) {
				AUTOCOMPLETE_ARR[id] = arr[id];
				$('.search-res-more').show();
			} else {
				$('#search-res-block .search-result').append('<li>' + arr[id].tag + '</li>');
				$('.search-res-more').hide();
			}
			i++;
		}

	});


// Window Click Event
	$(window).click(function (obj) {
		var current_block = obj.target;
		if (!$(current_block).parents('#search_type_dropdown').length) {
			$('#search_type_dropdown').removeClass('open')
					.stop(true, true).animate({ height:28 + 'px'});
		}


		if ($('#type_search').val() != 'Title' && $('#type_search').val() != 'All') {
			if ($(obj.target).attr('id') == 'search_term')
				$('#search-res-block').show();
			else if ($(obj.target).parents('div#search-res-block').length)
				$('#search-res-block').show();
			else
				$('#search-res-block').hide();
		} else
			$('#search-res-block').hide();
	});

	$('#search-res-block .search-result li').live('click', function () {
		var decoded = $("<div/>").html($(this).html()).text();
		$('#search_term').val(decoded);
		$(this).addClass('active');
		$('#search-res-block').hide();
		return false;
	});

});
//]]>
</script>
<script type="text/javascript">  var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19934650-1']);
_gaq.push(['_trackPageview']);
(function () {
	var ga = document.createElement('script');
	ga.type = 'text/javascript';
	ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
})();</script>
<script type="text/javascript" src="./js/filter.js"></script>
</head>
<body>
<?php if (empty($slideshow)) require_once (SITE_DIR . 'templates/slideshow.phtml'); ?>
<div id="menu">
	<div class="menu_content">
		<div class="header_fr_menu">
		<a id="Help" class="button_icon help fr" href="javascript:void(0)"><span class="icon"></span>Help</a></div>
		<a href="./" class="logo_img"></a>
		<a href="./" class="logo_txt fl"></a>
		<div class="search fl">
			<form id="search_form" action="" method="post">
				<div class="search-box">
					<ul id="search_type_dropdown" class="fl">
						<li title="Tag"><a href="javascript:void(0);">Tag</a></li>
						<li title="All"><a href="javascript:void(0);">All</a></li>
						<li title="Title"><a href="javascript:void(0);">Title</a></li>
						<li title="Timeline"><a href="javascript:void(0);">Timeline</a></li>
						<li title="Category"><a href="javascript:void(0);">Category</a></li>
					</ul>

					<div class="search-input-box">
						<input type="hidden" id="type_search" name="type_search" value="Tag" />
						<div id="search-res-block">
							<p class="search-res-status">Start typing to get suggestions...</p>
							<ul class="search-result"></ul>
							<a class="search-res-more" href="javascript:void(0);">more</a>
						</div>
					</div>

					<a class="clear-search" href="javascript:void(0);"></a>
					<input type="text" autocomplete="off" name="title" id="search_term" value="Search" />
					<input type="submit" value="" class="search-submit" />
				</div>
			</form>
		</div>
		<div class="search_button fl">
			<a id="filter_button" class="button_icon filter fr" href="javascript:void(0)"><span class="icon"></span>Filter</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<?php
/*

<div id="type_bubbles" class="fl"><?php
			if (isset($active_page['page']['button']) && $active_page['page']['button'])
				foreach ($active_page['page']['button'] as $key => $button) {
					$check = (isset($active_page['button'][$key]) && $active_page['button'][$key]) ? ' checked="checked"' : '';
					echo '<input type="checkbox"' . $check . ' class="show_bubbles" name="show_bubbles[]" value="' . $key . '" id="show_' . $key . '" /><label for="show_' . $key . '">' . $button . '</label>';
				}
			?></div>

 */
?>
<div id="content"<?=$left_sidebar['active'] ? 'class="left_open" style="left: ' . $left_sidebar['width'] . 'px;"' : '';?>>
	<div id="left-block" class="fl"<?=$left_sidebar['active'] ? ' style="left: -' . $left_sidebar['width'] . 'px; width:' . $left_sidebar['width'] . '"' : '';?>>
		<a class="close_box_button<?=$left_sidebar['active'] ? ' off' : '';?>" href="javascript:void(0);"></a>
		<div class="lf-content"><?php require_once SITE_DIR . 'templates/' . $left_sidebar['file'] . '.phtml'; ?></div>
	</div>

	<div class="right-block-shadow">
		<div id="header_close" class="close_box"><a class="close_box_button" href="javascript:void(0);"></a></div>
		<div id="right-block" class="fl">
			<!-- Window Button -->
			<a class="arrow-ruler fl" href="#"></a>
			<a class="arrow-ruler fr" href="#"></a>
			<div id="center_time_line"></div>
			<!-- Window Control PopUp -->
			<div id="costume_settings_jump" class="popup-settings" style="right: 10px">
				<table>
					<tr>
						<td style="padding-right: 20px;">
							<h1 style="margin-bottom: 40px; text-align:  center;">Jump to</h1>
							<a class="button_icon to_here fl" id="jump_to_here" href="javascript:void(0)"><span class="icon"></span> Here</a>
							<a class="button_icon to_now fr" id="jump_to_now" href="javascript:void(0)"><span class="icon"></span> Now</a>
							<form action="" method="post" id="jump_to_address"><input type="submit" value="" /><input class="fr" type="text" value="Search address" /></form>
						</td>
						<td style="height: 289px; vertical-align: top;"><div style="position: relative;"><input type="text" id="jump_to_time" /></div></td>
					</tr>
				</table>
			</div>
			<div id="costume_settings_show" class="popup-settings" style="right: 10px;">
				<table>
					<tr>
						<th><input id="show_bubbles" type="checkbox" /></th>
						<td><label for="show_bubbles">Bubbles</label></td>
					</tr>
<!--					<tr>-->
<!--						<th><input id="filter_space_all" type="checkbox" /></th>-->
<!--						<td><label for="filter_space_all">Space Filter for All</label>When off events are not affected by the<br /> space range selected(in Map or List view).</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th><input id="time_space_all" type="checkbox" name="" value="" /></th>-->
<!--						<td><label for="time_space_all">Time Filter for All</label>When off events are not affected by the<br /> time range selected(in Map or List view).</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th><input id="time_space_place" type="checkbox" name="" value="" /></th>-->
<!--						<td><label for="time_space_place">Time Filter for Place</label>When off events for the category: Place are not<br /> affected by the time range selected(in Map or List view).</td>-->
<!--					</tr>-->
				</table>
			</div>
			<!-- Control Menu -->
			<div class="control_menu">
				<div id="close_time_rules" class="close_time_rules"><a class="close_box_button" href="javascript:void(0);"></a></div>

				<div class="timeline_settings">
					<div class="zoom-block" title="Zoom in time">
						<a class="button_icon zoom-button fl" id="zoom_plus" href="javascript:void(0);">+</a>
						<select id="current-period" style="display: none;">
							<option value="hour">Hour</option>
							<option selected="selected" value="day">Day</option>
							<option value="month">Month</option>
							<option value="year">Year</option>
							<option value="decade">Decade</option>
							<option value="century">Century</option>
						</select>

						<div class="trackbar fl"><div id="trackbar"></div></div>
						<a class="button_icon zoom-button fl" id="zoom_minus" href="javascript:void(0);">-</a>
					</div>
					<h1 id="current-period-view" class="current-period-name fl">Day</h1>
					<div id="costume_settings" style="margin: 1px 0 0 15px;" class="radio_icon fr">
						<label class="show"><span class="icon"></span><input type="checkbox" id="show_50i50" value="#costume_settings_show" /> Show</label>
						<label class="jump"><span class="icon"></span><input type="checkbox" id="jump_50i50" value="#costume_settings_jump" /> Jump</label>
					</div>

					<div id="type_window" class="radio_icon fr"><?php
						foreach ($arr_pages_settings as $key => $val) {
							$check = (isset($active_page['page']['key']) && $active_page['page']['key'] == $key) ? ' checked="checked"' : '';
							echo '<label class="' . $key . ($check ? ' act' : '') . '"><span class="icon"></span><input type="radio" name="timeline_map"' . $check . ' value="' . $key . '" id="' . $key . '" /> ' . $val['name'] . '</label>';
						}
					?></div>
					<div class="clear"></div>
				</div>
				<div id="close_control_panel" class="close_box"><a class="close_box_button" href="javascript:void(0);"></a></div>
			</div>
			<!-- Window Type - TimeLine -->
			<div id="timeline"></div>
			<!-- Window Type - Map -->
			<div class="box_5050" id="map"></div>
			<!-- Window Type - Grid -->
			<div class="box_5050" id="grid_mode_new">
				<table id="grid_mode_table" cellpadding="0" cellspacing="0">
					<thead>
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Description</th>
						<th>Date<br/> Time</th>
						<th>Place</th>
						<th>Category<br/>[Subcategory]</th>
						<th>Tags</th>
						<th>Links</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<!-- Window Type - Multimedia -->
			<div class="box_5050" id="multimedia"><?php require_once (SITE_DIR . 'templates/multimedia.phtml') ?></div>
		</div>
	</div>

	<div class="clear"></div>
</div>


<script type="text/template" id="subitem-template">
	<div class="si" style="width: <%= width %>px"><%= number %></div>
</script>

</body>
</html>