<!DOCTYPE html>
<html>
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>50I50</title>
<style type="text/css">
	*{ margin: 0; padding: 0; }
	a{ color: #fff; }
    body{ background: #000; color: #fff; font: normal 26px Arial; }
	h1{ font-size: 26px; text-align: center }
	.green{ color: #7cfc00; font-size: 36px; font-weight: bold; text-shadow: 1px 1px 2px #000 }
	.red{ color: red; margin: 10px 0; }
    .login_block{ text-align: center; }
    .login_block .logo{ margin: 20px 0; }


    #pass{ width: 254px; height: 32px; line-height: 32px; background: none; border: none; padding-left: 5px; font-size: 18px;  }

	.input_box{ width: 289px; height: 32px; margin: 10px auto; background: url('/img/gag/input.png'); }
	.input_box .login_button{ width: 30px; height: 32px; background: none; border: none; cursor: pointer; }

	.block1{ width: 800px; margin: 0 auto; }
	.block1 table{ width: 100% }
	.block1 table{ font-weight: bold; color: #bebdbd; font-size: 24px }
	.block1 table{}
	.desc{ padding-top: 10px; line-height: 26px; text-align: center }
	/*.block2{ width: 980px; margin: 0 auto; }*/
</style>
</head>
<body>
<div class="block1">
	<div style="text-align: center;"><img src="/img/gag/logo.jpg" /></div>

	<h1 class="red" style="margin: 10px 0;">Enter your code to access the beta</h1>
	<form action="" method="post"><div class="input_box"><input type="password" name="TimeLinePass" id="pass" /><input type="submit" class="login_button" value="" /></div></form>
	<div style="float:right; margin-top: 20px"><img alt="" src="/img/gag/img.jpg" /></div>
	<div style="float:left; text-align: center;"><br /><br />
		Would you like a code?<br />
		<br />
		<span style="color: #7cfc00;">
			Fund this startup<br />
			by lending time or money<br />
			at the current Payback Ratio<br /><br />
		</span>
		<a href="http://50i50.org/Biz%20Prez/Summary2.html">Read the Business Presentation</a>
	</div>
</div>

</body>
</html>
