<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>50I50</title>
  <script src="../templates/scripts/modernizr-2.6.1.min.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="../lean-slider.js"></script>
    <link rel="stylesheet" href="../lean-slider.css" type="text/css" />
    <link rel="stylesheet" href="sample-styles.css" type="text/css" /> 
<style type="text/css">
	*{ margin: 0; padding: 0; align: center}
	a{ color: #fff; }
    body{ background: #9F9F9F; color: #fff; font: normal 26px Verdana; align: left; margin-left:10px}
	h1{ font-size: 26px; text-align: left;}
	.green{ color: #7cfc00; font-size: 36px; font-weight: bold; text-shadow: 1px 1px 2px #000 }
	.red{ color: red; margin: 50px 0; }
    .login_block{ text-align: left; margin: 0px;}
    .login_block .logo{ margin: 0px 0;}

a img {border: none; }

    #pass{ width: 225px; height: 30px; align: left; line-height: 32px; background: none; border: none; padding-left: 5px; font-size: 18px;  }

	.input_box{width: 288px; height: 48px; align: left; margin: 3px; margin-left:26px;margin-top: -58px;}
	.input_box .login_button{ width: 50px; height: 40px; margin-top: -5px;background: none; border: none; cursor: pointer; }

	.block1{ width: 1024px; margin: 0 auto; align: center;}
	.block1 table{ width: 100%; align: center; margin-left:50px}
	.block1 table{ font-weight: bold; color: #bebdbd; font-size: 24px; margin-left:50px}
	.block1 table{}
	.desc{ padding-top: 0px; line-height: 26px; text-align: left; margin-left:50px}
	/*.block2{ width: 1024px; margin: 0 auto; align: left}*/
</style>

<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}


</script>
</head>

<body>
<div class="block1">
<div style="text-align: left;"><img src="/img/gag/Betapage-provisory_01.gif"/></div>

     <div class="container">
         
     <div class="slider-wrapper">
 
        <div id="slider">
                     <div class="slide1">
                     
                     <img src="/img/gag/1.gif" alt="Share and Discover what's happening around you?!" />
            </div>
            <div class="slide2"><img src="/img/gag/2.gif" alt="" />
            </div>
            <div class="slide3">
                <img src="/img/gag/3.gif" alt="" />
            </div>
            <div class="slide4">
                <img src="/img/gag/4.gif" alt="" />
            </div>
            <div class="slide5">
                <img src="/img/gag/5.gif" alt="" />
            </div>
            <div class="slide6">
                <img src="/img/gag/6.gif" alt="" />
            </div>
            <div class="slide7"><img src="/img/gag/7.gif" alt="" />
            </div>
        </div>
        <div id="slider-direction-nav"></div>
        <div id="slider-control-nav"></div>
    </div>
  
	<div style="text-align: left; margin-left:120px;"><img src="/img/gag/login.png"/>
	  <form action="" method="post"><div class="input_box"><input type="password" name="TimeLinePass" id="pass"/><input type="submit" class="login_button" value="" /></div></form>
	  <div style="float:right; margin: 140px; margin-top: -102px"><a href="/share/Sharesoon.html"><img alt="Get a Code" src="/img/gag/Betapage-provisory_08.png" onmouseover="this.src='/img/gag/Betapage-provisory_08b.png'" onmouseout="this.src='/img/gag/Betapage-provisory_08.png'"/><img src="/img/gag/transparent square.png" alt="" width="120" height="1" /><a href="/Biz Prez/Summary.html"><img alt="Invest" src="/img/gag/Betapage-provisory_10.png" onmouseover="this.src='/img/gag/Betapage-provisory_10b.png'" onmouseout="this.src='/img/gag/Betapage-provisory_10.png'"/></div> 
</div>


</body>
 <script type="text/javascript">
    $(document).ready(function() {
        var slider = $('#slider').leanSlider({
            directionNav: '#slider-direction-nav',
            controlNav: '#slider-control-nav'
        });
    });
    </script>
</html>
