<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>50I50</title>

  
<style type="text/css">
	*{ margin: 0; padding: 0; align: center}
	a{ color: #fff; }
    body{ background: #9F9F9F; color: #fff; font: normal 26px Verdana; align: left; margin-left:10px}
	h1{ font-size: 26px; text-align: left;}
	.green{ color: #7cfc00; font-size: 36px; font-weight: bold; text-shadow: 1px 1px 2px #000 }
	.red{ color: red; margin: 50px 0; }
    .login_block{ text-align: left; margin: 50px;}
    .login_block .logo{ margin: 0px 0;}

a img {border: none; }

    #pass{ width: 254px; height: 32px; align: left; line-height: 32px; background: none; border: none; padding-left: 5px; font-size: 18px;  }

	.input_box{width: 290px; height: 48px; align: left; margin: 5px; margin-left:190px; background: url('/img/gag/input.png'); }
	.input_box .login_button{ width: 30px; height: 32px; background: none; border: none; cursor: pointer; }

	.block1{ width: 1024px; margin: 0 auto; align: center;}
	.block1 table{ width: 100%; align: center; margin-left:50px}
	.block1 table{ font-weight: bold; color: #bebdbd; font-size: 24px; margin-left:50px}
	.block1 table{}
	.desc{ padding-top: 0px; line-height: 26px; text-align: left; margin-left:50px}
	/*.block2{ width: 1024px; margin: 0 auto; align: left}*/
</style>

<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body>
<div class="block1">
<div style="text-align: left;"><img src="/img/gag/Betapage_01.png"/></div>

     <div class="container">
    <div id="slides">
 	  <span style="text-align: center"><img src="/img/gag/transparent square.png" alt="" width="36" height="40" /></span><img src="/img/gag/share-discover.gif" alt="Share-Discover"></div>
  </div>
  
	<div style="text-align: left;"><img src="/img/gag/Betapage_04.png" />
	  <form action="" method="post"><div class="input_box"><input type="password" name="TimeLinePass" id="pass"/><input type="submit" class="login_button" value="" /></div></form>
	  <div style="float:right; margin: 150px; margin-top: -90px"><a href="/Share/Sharesoon.html"><img alt="Get a Code" src="/img/gag/icons_03.gif" /><a href="/Biz Prez/Summary.html"><img alt="Invest" src="/img/gag/icons_04.gif" /></div> 
</div>

</body>
</html>
