<div class="multimedia-menu-block">
	<a class="multimedia-close fr" href="#"></a>
	<ul class="multimedia-menu">
		<li><input type="radio" name="multi-menu" class="multimedia-button" id="multi-b-web"
				   data-block="web" href="#"><label for="multi-b-web">Web</label></li>
		<li><input type="radio" name="multi-menu" class="multimedia-button" id="multi-b-videos"
				   data-block="video" href="#"><label for="multi-b-videos">Videos</label></li>
		<li><input type="radio" name="multi-menu" class="multimedia-button" id="multi-b-img"
				   data-block="img" href="#"><label for="multi-b-img">Images</label></li>
		<li><input type="radio" name="multi-menu" class="multimedia-button" id="multi-b-links"
				   data-block="link" href="#"><label for="multi-b-links">Links</label></li>
		<li><input type="radio" name="multi-menu" class="multimedia-button" id="multi-b-sponsor"
				   data-block="sponsor" href="#"><label for="multi-b-sponsor">Sponsors</label></li>
	</ul>
	<div class="clear"></div>
</div>
<div id="no-search-form"></div>
<div class="multimedia-content">
	<div class="multimedia-page" id="mm_web"></div>
	<div class="multimedia-page" id="mm_video"></div>
	<div class="multimedia-page" id="mm_img"></div>
	<div class="multimedia-page" id="mm_link"><div id="adcontainer1"></div><script src="http://www.google.com/adsense/search/ads.js" type="text/javascript"></script></div>
	<div class="multimedia-page" id="mm_sponsor">
		<div class="fl">
			<script type="text/javascript" language="javascript"
					src="http://www.jdoqocy.com/placeholder-6203350?target=_blank&mouseover=Y"></script>
		</div>
		<!--						<div class="fl"><script type="text/javascript" src="http://publisher.monster.com/Services/WidgetHandler.ashx?WidgetID=EAAQLMYpint7Dyb0O.m1mh.f4g--&Verb=Initialize"></script><noscript><a id="monsterBrowseLink13410" class="fnt4" href="http://jobsearch.monster.com/jobs/">Search For Jobs on Monster</a></noscript></div>-->
		<div class="fl"><a href="http://www.sparkol.com?aid=10604" target="_blank"><img border="0"
																						src="http://www.sparkol.com/affiliate/VS_SquarePopUp.jpg"/></a>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript"
					src="http://www.anrdoezrs.net/placeholder-6203346?target=_top&mouseover=N"></script>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript"
					src="http://www.kqzyfj.com/placeholder-6203352?target=_blank&mouseover=Y"></script>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript"
					src="http://www.jdoqocy.com/placeholder-6203371?target=_blank&mouseover=Y"></script>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript"
					src="http://www.jdoqocy.com/placeholder-6203378?target=_blank&mouseover=Y"></script>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript"
					src="http://www.jdoqocy.com/placeholder-6203382?target=_blank&mouseover=Y"></script>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript" src="http://www.anrdoezrs.net/placeholder-6203390?target=_blank&mouseover=Y"></script>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript" src="http://www.anrdoezrs.net/placeholder-6204449?target=_blank&mouseover=Y"></script>
		</div>
		<div class="fl">
			<script type="text/javascript" language="javascript"
					src="http://www.dpbolvw.net/placeholder-6204443?target=_blank&mouseover=Y"></script>
		</div>
	</div>
</div>