<?php
//$select = date


?><script type="text/javascript">
	$(document).ready(function () {
		var selectDate = (AppOptions) ? AppOptions.get('date') : new Date();

		$('#t_time').val((selectDate.getMonth()+1) + '/' + (selectDate.getDay()+1) + '/' + selectDate.getFullYear());
		$('#h_time').val(selectDate.getHours() + ':' + selectDate.getMinutes());


		AnyTime.picker("t_time", {
//			latest: new Date(selectDate),
			format: "%m/%d/%Y"
		});
		$("#h_time").AnyTime_picker({
			format: "%H:%i",
//			formatUtcOffset: "%: (%@)",
			hideInput: true,
			placement: "inline"
		});

		$("#sidebar_set_date .set_date_acord").accordion({
			autoHeight: false,
			navigation: true
		});

		$('#sidebar_set_date').submit(function () {
			var date = $('#t_time').val().split('/');
			var hour = $('#h_time').val().split(':');

			var to_date = date_to_time ([date[2], date[0], date[1], hour[0], hour[1], 0]);

			AppOptions.set({'date': to_date});
			App.initializePeriod();
			return false;
		});
		$('#apply-fr').button();
	});
</script>
<h3 class="lf-title">Center on Date</h3>
<form id="sidebar_set_date" action="" method="post">
	<div class="set_date_acord">
		<h3><a href="#">Select a Date</a></h3>
		<div class="filters-param"><input type="text" class="text-bf" id="t_time" name="datepicker"></div>
		<h3><a href="#">Select a Time</a></h3>
		<div class="filters-param"><input type="text" class="text-bf" id="h_time" name="datepicker"></div>
		<h3><a href="#">Type Date and Time</a></h3>
		<div class="filters-param">Test</div>
	</div>
	<div class="filter-submit">
<!--		<a id="clear-all-filter" class="fl" href="#">Clear All</a>-->
		<input id="apply-fr" class="fr" type="submit" value="Apply" />
		<div class="clear"></div>
	</div>
</form>