<?php
//    , DATE_FORMAT(timeline_2012.f_inicio, '%b %d, %Y') AS f_inicio
//, DATE_FORMAT(timeline_2012.f_fin, '%b %d, %Y') AS f_fin
if (! isset($_REQUEST['custom_param']) && ! intval($_REQUEST['custom_param']))
	exit;
$format = array('%m/%d/%Y', '%m/%Y', '%Y');

$query = "SELECT timeline_2012.id_evento
	 , timeline_2012.titulo
     , timeline_2012.descripcion
     , timeline_2012.imagen

     , DATE_FORMAT(timeline_2012.f_inicio, IF (timeline_2012.scale & 8 = 8, '" . $format[0] . "', IF (timeline_2012.scale & 16 = 16, '" . $format[1] . "', '" . $format[2] . "'))) AS f_inicio
	 , TIME_FORMAT(timeline_2012.h_inicio, IF (timeline_2012.scale & 4 = 4, '%H:%i:%S', '')) as h_inicio

	 , DATE_FORMAT(timeline_2012.f_fin, IF (timeline_2012.scale & 8 = 8, '" . $format[0] . "', IF (timeline_2012.scale & 16 = 16, '" . $format[1] . "', '" . $format[2] . "'))) AS f_fin
	 , TIME_FORMAT(timeline_2012.h_fin, IF (timeline_2012.scale & 4 = 4, '%H:%i:%S', '')) as h_fin

     , timeline_2012.f_tipo
     , timeline_2012.etiquetas
     , timeline_2012.lugar
     , timeline_2012.lugar2
     , timeline_2012.source
     , timeline_2012.latitud
     , timeline_2012.longitud
     , timeline_2012.latitud2
     , timeline_2012.longitud2
     , icons.category
     , icons.subcategory
     , icons.subcategory2
     , timeline_2012.fk_user
     , timeline_2012.link_video
     , timeline_2012.link_wiki
     , timeline_2012.link
FROM
  timeline_2012
  LEFT JOIN icons ON timeline_2012.category_id = icons.id
WHERE
  timeline_2012.id_evento = " . (int) $_REQUEST['custom_param'] . " LIMIT 1";

$res = mysql_query($query);
if (! mysql_num_rows($res))
	exit;
?>
<script type="text/javascript">
//<![CDATA[
	$(document).ready(function () {
		$(".sidebar_event_desc").accordion({
			autoHeight: false,
			navigation: true,
			disabled: true
		});
		$('#event-multimedia').click(function () {
			Interface.EventsButtonGenerate('multi');

			if ($(this).find('.multi_active').length)
				return true;
			else
				$(this).append('<div class="multi_active"></div>');

			var title = $('#multi-title a').html();


			Interface.updateMultimediaBox(title);

			return false;
		})
	});
//]]>
</script>
<?php
while ($row = mysql_fetch_array($res)) :
// Title
	$titulo = htmlentities($row['titulo'], ENT_COMPAT, 'UTF-8');
	if (trim($row['link']))
		$titulo = '<a href="' . $row['link'] . '" target="_blank">' . $titulo . '</a>';
// Date Start
	$date_start = $row['f_inicio'];
	$time_int =  strtotime($row['h_inicio']);
	if ($row['h_inicio'] && $time_int != strtotime('00:00:00')) {
		$date_start .= ' ' . $row['h_inicio'];
	}
	if ($date_start != '00/00/0000' && $date_start != '00/0000' && $date_start != '0000')
		$date_start = '<a href="javascript:void(0)" class="link_set_date">' . $date_start . '</a>';
	else
		$date_start = 'none';
// Date Finish
	$date_finish = $row['f_fin'];
	$time_int =  strtotime($row['h_fin']);
	if ($row['h_fin'] && $time_int != strtotime('00:00:00')) {
		$date_finish .= ' ' . $row['h_fin'];
	}
	if ($date_finish != '00/00/0000' && $date_finish != '00/0000' && $date_finish != '0000')
		$date_finish = '<a href="javascript:void(0)" class="link_set_date">' . $date_finish . '</a>';
	else
		$date_finish = 'none';
// Place
	$lugar = '';
	if (trim($row['lugar'])) {
		$lugar = $row['lugar'];
		if (isset($row['latitud']) || isset($row['longitud']))
			$lugar .= '<input type="hidden" value="' . floatval($row['latitud']) .';' . $row['longitud'] . '" />';
		$lugar = '<a href="javascript:void(0);" class="link_to_place">' . $lugar . '</a>';
	}
	$lugar2 = '';
	if (trim($row['lugar2'])) {
		$lugar2 = $row['lugar2'];
		if (isset($row['latitud2']) || isset($row['longitud2']))
			$lugar2 .= '<input type="hidden" value="' . floatval($row['latitud2']) .';' . $row['longitud2'] . '" />';
		$lugar2 = '<a href="javascript:void(0);" class="link_to_place">' . $lugar2 . '</a>';
	}

?>
<h3 id="multi-title" class="lf-title"><?php echo $titulo; ?></h3>
<div class="sidebar_event_desc" id="events-description_<?php echo $row['id_evento'] ?>">
	<h3><a href="#">Info</a></h3>
	<div class="accordion">
		<div class="accordion-content">
			<p><strong>Description: </strong><?php echo htmlentities($row['descripcion'], ENT_COMPAT, 'UTF-8'); ?></p>
			<br />
			<img class="fr" src="./server/thumbnails.php?w=70&h=70&p=1&q=60&url=<?php echo $row['imagen']; ?>" alt=""/>
			<br />
			<p><strong>Date type: </strong><?php echo $row['f_tipo']; ?></p>
			<p><strong>Date Start: </strong><?php echo $date_start; ?></p>
			<p><strong>Date End: </strong><?php echo $date_finish; ?></p>
			<p><strong>Place Start:</strong><?php echo $lugar; ?></p>
			<p><strong>Place End:</strong><?php echo $lugar2; ?></p>
			<br />
			<br />
			<?php
				if (trim($row['category'])) {
					echo '<p><strong>Category: </strong> ' . $row['category'] . '</p>';
					if (trim($row['subcategory'])) {
						echo '<p><strong>Subcategory: </strong> ' . $row['subcategory'] . '</p>';

						if (trim($row['subcategory2']))
							echo '<p><strong>Subcategory2: </strong> ' . $row['subcategory2'] . '</p>';
					}
				} else
					echo '<p><strong>Categories: </strong> none</p>';
			?>
			<p><strong>Tags: </strong><?php
				if (trim($row['etiquetas'])) {
					$tags_to_display = array();
					$tags = explode(',', $row['etiquetas'] );
					$count_tags = count($tags);
					for ($i = 0; $i < $count_tags; $i++) {
						$res_teg = explode(';', $tags[$i]);
						for ($j = 0; $j < count($res_teg); $j++)
							$tags_to_display[] = '<a href="javascript:void(0)" class="filter_to_tag">' . trim($res_teg[$j]) . "</a>";
					}
					echo implode(', ', $tags_to_display);
				} else
					echo 'none';
			?></p>
			<p><strong>Source: </strong><?php if (trim($row['source'])) echo $row['source']; else echo "50I50"; ?></p>
			<p><strong>Creator: </strong><?php echo "50I50"; ?><?php //if (trim($row['fk_user'])) echo $row['fk_user']; else echo "50I50"; ?>
			<p class="clear"></p>
		</div>
	</div>
	<div id="event-multimedia" class="accordion"><div class="accordion-content">
		<img class="fl" />
		<ul>
			<li>Web</li>
			<li>Video</li>
			<li>Images</li>
			<li>Links</li>
			<li>Sponsor</li>
		</ul>
		<input id="mm_web_input" type="hidden" name="web" value="<?=$row['link_wiki'] ? $row['link_wiki'] : ($row['link'] ? $row['link'] : '');?>" />
		<input id="mm_video_input" type="hidden" name="video" value="<?=$row['link_video']?>" />
	</div></div>
</div>
<?php endwhile;